---
version: 2
interactions:
    - id: 0
      request:
        host: pub.dev
        url: https://pub.dev/api/packages/pub_semver
        method: GET
      response:
        body: '{"name":"pub_semver","latest":{"version":"2.2.0","pubspec":{"name":"pub_semver","version":"2.2.0","description":"Versions and version constraints implementing pub''s versioning policy. This is very similar to vanilla semver, with a few corner cases.","repository":"https://github.com/dart-lang/tools/tree/main/pkgs/pub_semver","issue_tracker":"https://github.com/dart-lang/tools/labels/package%3Apub_semver","topics":["dart-pub","semver"],"environment":{"sdk":"^3.4.0"},"dependencies":{"collection":"^1.15.0"},"dev_dependencies":{"dart_flutter_team_lints":"^3.0.0","test":"^1.16.0"}},"archive_url":"https://pub.dev/api/archives/pub_semver-2.2.0.tar.gz","archive_sha256":"5bfcf68ca79ef689f8990d1160781b4bad40a3bd5e5218ad4076ddb7f4081585","published":"2025-03-07T08:24:31.752263Z"},"versions":[{"version":"1.0.0","pubspec":{"description":"Versions and version constraints implementing pub''s versioning policy. This is very similar to vanilla semver, with a few corner cases.\n","author":"Dart Team <misc@dartlang.org>","environment":{"sdk":">=1.0.0 <2.0.0"},"version":"1.0.0","dependencies":{"collection":">=0.9.0 <2.0.0"},"dev_dependencies":{"unittest":">=0.9.0 <0.12.0"},"homepage":"http://github.com/dart-lang/pub_semver","name":"pub_semver"},"archive_url":"https://pub.dev/api/archives/pub_semver-1.0.0.tar.gz","archive_sha256":"f2256119db8eb1636e91bfe45c4d7016b532d979becb5d99844923f95a489de8","published":"2014-09-26T19:58:22.483450Z"},{"version":"1.1.0","pubspec":{"description":"Versions and version constraints implementing pub''s versioning policy. This is very similar to vanilla semver, with a few corner cases.\n","author":"Dart Team <misc@dartlang.org>","environment":{"[...]
    - id: 1
      request:
        host: pub.dev
        url: https://pub.dev/api/packages/mockito
        method: GET
      response:
        body: '{"name":"mockito","latest":{"version":"5.6.4","pubspec":{"name":"mockito","version":"5.6.4","description":"A mock framework inspired by Mockito with APIs for Fakes, Mocks, behavior verification, and stubbing.","repository":"https://github.com/dart-lang/build/tree/master/builder_pkgs/mockito","resolution":"workspace","topics":["testing","mocking"],"environment":{"sdk":"^3.7.0"},"dependencies":{"analyzer":">=8.1.1 <13.0.0","build":">=3.0.0 <5.0.0","code_builder":"^4.5.0","collection":"^1.19.0","dart_style":">=2.3.7 <4.0.0","matcher":"^0.12.16","meta":"^1.15.0","path":"^1.9.0","source_gen":">=3.0.0 <5.0.0","test_api":">=0.6.1 <0.8.0"},"dev_dependencies":{"build_runner":"^2.5.0","build_test":"^3.3.0","build_web_compilers":"^4.2.0","http":"^1.0.0","lints":"^5.1.0","logging":"^1.0.0","package_config":"^2.1.1","test":"^1.24.4"}},"archive_url":"https://pub.dev/api/archives/mockito-5.6.4.tar.gz","archive_sha256":"eff30d002f0c8bf073b6f929df4483b543133fcafce056870163587b03f1d422","published":"2026-03-24T16:30:34.739354Z"},"versions":[{"version":"0.8.0","pubspec":{"description":"A mock framework inspired by Mockito.\n","author":"Dmitriy Fibulwinter <fibulwinter@gmail.com>","environment":{"sdk":">=1.0.0 <2.0.0"},"version":"0.8.0","dependencies":{"matcher":">=0.10.0 <1.0.0"},"dev_dependencies":{"uni[...]
