---
version: 2
interactions:
    - id: 0
      request:
        host: api.nuget.org
        url: https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/index.json
        method: GET
      response:
        body: '{"@id":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"c6a0c0fc-ad6b-4d3f-9c4e-72668f413fde","commitTimeStamp":"2025-12-30T05:31:46.2957785+00:00","count":2,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/index.json#page/3.5.8/12.0.1-beta2","@type":"catalog:CatalogPage","commitId":"c6a0c0fc-ad6b-4d3f-9c4e-72668f413fde","commitTimeStamp":"2025-12-30T05:31:46.2957785+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/3.5.8.json","@type":"Package","commitId":"2c2253e1-8881-429a-8548-08dabd1ae4c8","commitTimeStamp":"2022-12-08T16:44:02.0217374+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.12.08.16.43.03/newtonsoft.json.3.5.8.json","@type":"PackageDetails","authors":"James Newton-King","description":"Json.NET is a popular high-performance JSON framework for .NET","iconUrl":"","id":"Newtonsoft.Json","language":"en-US","licenseExpression":"","licenseUrl":"","listed":true,"minClientVersion":"","packageContent":"https://api.nuget.org/v3-flatcontainer/newtonsoft.json/3.5.8/newtonsoft.json.3.5.8.nupkg","projectUrl":"","published":"2011-01-08T22:12:57.713+00:00","requireLicenseAcceptance":false,"summary":"Json.NET is a popular high-performance JSON framework for .NET","tags":[""],"title":"","version":"3.5.8"},"packageContent":"https://api.nuget.org/v3-flatcontainer/newtonsoft.json/3.5.8/newtonsoft.json.3.5.8.nupkg","registration":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/index.json"},{"@id":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/4.0.1.json","@type":"Package","commitId":"2c2253e1-8881-429a-8548-08dabd1ae4c8","commitTimeStamp":"2022-12-08T16:44:02.0217374+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2022.12.08.16.43.03/newtonsoft.json.4.0.1.json","@type":"PackageDetails","authors":"James Newton-King","description":"Json.NET is a popular high-performance[...]
