---
version: 2
interactions:
    - id: 0
      request:
        host: api.deps.dev
        url: https://api.deps.dev/v3alpha/systems/maven/packages/com.google.guava:guava
        method: GET
      response:
        body: '{"packageKey":{"system":"MAVEN", "name":"com.google.guava:guava"}, "purl":"pkg:maven/com.google.guava/guava", "versions":[{"versionKey":{"system":"MAVEN", "name":"com.google.guava:guava", "version":"10.0"}, "purl":"pkg:maven/com.google.guava/guava@10.0", "publishedAt":"2011-09-28T16:04:35Z", "isDefault":false, "isDeprecated":false}, {"versionKey":{"system":"MAVEN", "name":"com.google.guava:guava", "version":"10.0-rc1"}, "purl":"pkg:maven/com.google.guava/guava@10.0-rc1", "publishedAt":"2011-09-09T13:13:29Z", "isDefault":false, "isDeprecated":false}, {"versionKey":{"system":"MAVEN", "name":"com.google.guava:guava", "version":"10.0-rc2"}, "purl":"pkg:maven/com.google.guava/guava@10.0-rc2", "publishedAt":"2011-09-19T17:32:16Z", "isDefault":false, "isDeprecated":false}, {"versionKey":{"system":"MAVEN", "name":"com.googl[...]
    - id: 1
      request:
        host: api.deps.dev
        url: https://api.deps.dev/v3alpha/systems/maven/packages/io.grpc:grpc-core
        method: GET
      response:
        body: '{"packageKey":{"system":"MAVEN", "name":"io.grpc:grpc-core"}, "purl":"pkg:maven/io.grpc/grpc-core", "versions":[{"versionKey":{"system":"MAVEN", "name":"io.grpc:grpc-core", "version":"0.12.0"}, "purl":"pkg:maven/io.grpc/grpc-core@0.12.0", "publishedAt":"2016-01-23T00:11:27Z", "isDefault":false, "isDeprecated":f[...]
