[submodule "gcp/api/googleapis"]
	path = gcp/api/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "docker/worker/osv-test"]
	path = gcp/workers/worker/osv-test
	url = https://github.com/oliverchang/osv-test.git
[submodule "osv-schema"]
	path = osv/osv-schema
	url = https://github.com/ossf/osv-schema.git
