[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-ndb = "*"
google-cloud-logging = "*"
google-cloud-storage = "*"
semver = ">=3.0.0"
pyyaml = "*"
pygit2 = ">=1.14.0"
attrs = "*"
jsonschema = "*"
grpcio = "*"
packaging = "<22.0"

[dev-packages]
yapf = "*"
pylint = "*"
pipenv = ">=2022.9.4"
grpcio-tools = "*"

[requires]
python_version = "3.11"
