[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-ndb = "*"
semver = "*"
pyyaml = "*"
pygit2 = ">=1.9.2"
attrs = "*"

[dev-packages]
yapf = "*"
pylint = "*"
pipenv = ">=2022.9.4"
