<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="description"
    content="Comprehensive vulnerability database for your open source projects and dependencies.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Disable this for vulnerability list page as the weird Turbo cache bug happens when click on browser's back button -->
  {% if disable_turbo_cache %}
  <meta name="turbo-cache-control" content="no-cache">
  {% endif %}
  <link rel="icon" type="image/png" href="/static/img/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/favicon-16x16.png" sizes="16x16">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta charset="utf-8">
  <title id="title">OSV - Open Source Vulnerabilities</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZXG9G6HTBR"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-ZXG9G6HTBR', { 'anonymize_ip': true });
  </script>
</head>

<body>
  <div class="wrapper {{'decorated' if active_section == 'home'}}">
    {% block top_bar %}
    <header class="top-bar">
      <div class="logo">
        <a href="{{ url_for('frontend_handlers.index') }}" aria-label="Home page">
          <img alt="OSV logo" src="/static/img/logo.png" srcset="/static/img/logo.png, /static/img/logo@2x.png 2x"
            width="54" height="20">
        </a>
      </div>

      <!-- Hidden checkbox for hamburger menu state -->
      <input type="checkbox" id="hamburger-checkbox" aria-label="Hamburger Menu">
      <!-- Hamburger menu -->
      <label class="hamburger" for="hamburger-checkbox">
        <span></span>
        <span></span>
        <span></span>
      </label>

      <ul class="tabs">
        <li class="{{ 'active' if active_section == 'vulnerabilities' else '' }} page-link">
          <a href="{{ url_for('frontend_handlers.list_vulnerabilities') }}">Vulnerability Database</a>
        </li>
        <li class="{{ 'active' if active_section == 'blog' else '' }} page-link">
          <a href="{{ url_for('frontend_handlers.blog') }}">Blog</a>
        </li>
        <li class="{{ 'active' if active_section == 'faq' else '' }} page-link">
          <a href="https://google.github.io/osv.dev/faq/">FAQ</a>
        </li>
        <li class="{{ 'active' if active_section == 'docs' else '' }} page-link">
          <a href="https://google.github.io/osv.dev/">Docs</a>
        </li>
        
        <li class="push">
          <a class="logo-img" href="https://github.com/google/osv.dev" target="_blank"
            aria-label="Go to our github page">
            <img class="logo-link" src="/static/img/github-mark-white.svg" alt="Github Logo" width="24" height="24">
          </a>
        </li>
      </ul>
    </header>
    {% endblock %}
    {% block content %}{% endblock %}
  </div>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;700&family=Overpass:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
</body>

</html>
