@use 'sass:string';

$osv-background: #292929;
$osv-text-color: #fff;
$osv-accent-color: #c5221f;
$osv-red-300: #ec928e;
$osv-grey-600: #80868b;
$osv-font-family: string.unquote('Overpass, sans-serif');
$osv-heading-font-family: string.unquote('"Overpass Mono", monospace');

@use '@material/theme' with (
  $surface: $osv-background,
);
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/data-table/data-table';
@use '@material/data-table/data-table-theme';
@include data-table.core-styles;
@include data-table.theme-baseline;

@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/** Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

ol, ul, menu {
  list-style: none;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

/** Global styles */

body {
  background: $osv-background;
  color: $osv-text-color;
  font-family: $osv-font-family;
  font-size: 14px;
  --mdc-theme-primary: #{$osv-text-color};
  --mdc-theme-surface: $osv-background;
  --mdc-theme-background: $osv-background;
  --mdc-typography-font-family: $osv-font-family;
  --mdc-text-field-fill-color: #696969;
  --mdc-text-field-ink-color: $osv-text-color;
}

a {
  color: $osv-text-color;
  cursor: pointer;
  text-decoration: underline;
}

a:not([href^="https://osv.dev"]):not([href^="/"])::after {
  display: inline-block;
  content: ' ';
  background-image: url('/static/img/external-link.svg');
  width: 16px;
  height: 16px;
  margin-left: 3px;
  vertical-align: middle;
}

h1,
h2,
h3,
pre {
  font-family: $osv-heading-font-family;
  font-weight: normal;
}

.link-button {
  display: inline-flex;
  padding: 0 16px;
  height: 36px;
  background: $osv-accent-color;
  color: $osv-text-color;
  border-radius: 4px;
  align-items: center;
  text-decoration: none;
}

/** WIP notice */

.wip-notice {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background: #b31412;
  color: #fff;
  justify-content: center;
  top: 0;
  z-index: 999;
}

/** Top bar */

.top-bar {
  display: flex;
  padding: 34px 40px;

  .logo {
    $logo-width: 53px;
    flex: 1 0 ($logo-width + 40px);
    max-width: $logo-width + 112px;
  }

  .tabs {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 40px;
    font-size: 16px;

    li {
      $active-spacing: 6px;
      margin: -$active-spacing 0;
      padding: $active-spacing 0;
      a {
        text-decoration: none;
      }
      &.active {
        border-bottom: 8px solid $osv-text-color;
      }
    }
  }
}

/** List page */

.list-page {
  .title {
    font-size: 20px;
  }

  // Hide the submit button.
  .search input[type=submit] {
    display: none;
  }
}

.ecosystems {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  .ecosystem-label {
    display: flex;
    gap: 16px;
    font-family: $osv-heading-font-family;
    padding: 10px 20px;
    background: #696969;
    border-radius: 999px;

    .ecosystem-count {
      font-weight: bold;
    }
  }

  .ecosystems-divider {
    display: block;
    margin: 0 10px;
    height: 30px;
    border-right: 1px solid $osv-grey-600;
  }

  input[type=radio]:checked + .ecosystem-label {
    background: $osv-text-color;
    color: $osv-accent-color;
  }

  input[type=radio] {
    display: none;
  }
}

.query-container {
  margin-top: 22px;
  border: 2px solid $osv-text-color;
  border-radius: 8px;
  --mdc-text-field-fill-color: rgba(255, 255, 255, 0.3);
  --mdc-text-field-label-ink-color: $osv-text-color;

  // Make the inner search field full-width.
  .query-field {
    width: 100%;
  }

  // Hax: Use our own icon because mwc-textfield supplies a dark gray one. Maybe M3 will fix it:
  // https://github.com/material-components/material-web/commit/0c200ecf04a533b1dc56932c3979e3e5d8fb7d73
  position: relative;
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
  }

  // Hax: Get rid of the material underline.
  overflow: hidden; /* The underline would otherwise show underneath the border radius. */
  &::after {
    margin-bottom: -4px;
    background: #fff;
    height: 2px;
    position: relative;
    top: -2px;
    content: '';
    display: block;
  }
}

// Hax: Make @material/mwc-icon-button play well with @material/data-table.
mwc-icon-button.mdc-data-table__sort-icon-button {
  width: auto;
  height: auto;
  --mdc-icon-button-size: 36px;
}

.vuln-table-container {
  width: 100%;

  // Override MDC table styling.
  border-width: 0;
  .mdc-data-table__header-cell {
    border-bottom-color: $osv-text-color;
    border-bottom-style: solid;
    font-family: $osv-heading-font-family;
  }
  .mdc-data-table__cell {
    border-bottom-style: dashed;
  }

  // Render the divs as a table.
  .vuln-table {
    display: table;
  }
  .vuln-table-header {
    display: table-header-group;
  }
  .vuln-table-rows {
    display: table-row-group;
  }
  .vuln-table-row {
    display: table-row;
  }
  .vuln-table-cell {
    display: table-cell;
  }

  // Table styling.
  .vuln-table {
    white-space: normal;
  }
  .vuln-table-cell {
    vertical-align: top;
    padding-top: 16px;
    padding-bottom: 16px;
    &.vuln-table-header {
      vertical-align: middle;
    }
  }
  .vuln-versions,
  .vuln-fix-status {
    white-space: nowrap;
  }

  // Packages list.
  .packages {
    margin: 0;
    padding: 0;
  }

  // Version list.
  .versions {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .version {
    display: block;
  }

  // Tag styling.
  .tag {
    display: inline-block;
    background: $osv-text-color;
    color: $osv-background;
    padding: 0 7px;
    border-radius: 4px;

    &.fix-unavailable {
      background: $osv-red-300;
    }
  }

  // Busy effect.
  .vuln-table-rows {
    transition: filter .3s;
  }
  &[busy] .vuln-table-rows {
    filter: blur(4px);
  }

  // Turbo frames should not create layout by default.
  turbo-frame {
    display: contents;
  }

  // Swap next page button/loading indicator as needed.
  turbo-frame .next-page-indicator,
  turbo-frame[busy] .next-page-button {
    display: none;
  }
  turbo-frame[busy] .next-page-indicator {
    display: block;
  }

  // Center the next page button.
  .next-page-frame {
    position: relative;

    .next-page-container {
      padding: 40px 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/** Vulnerability page */

.vulnerability-page .title {
  font-size: 60px;
}

dl.vulnerability-details,
.vulnerability-package-subsection dl {
  display: grid;
  grid-template-columns: max-content minmax(0, auto);
  grid-row-gap: 5px;

  dt {
    grid-column: 1;
    font-weight: bold;
    padding-right: 18px;
  }

  dd {
    grid-column: 2;
  }

  pre {
    white-space: pre-wrap;
  }

  .links {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.vulnerability-packages-container {
  margin-top: 80px;
}

.vulnerability-packages {
  h2 {
    background: #aaa;
    color: #000;
    display: inline-block;
    font-size: 14px;
    padding: 16px;
  }

  .subtitle {
    font-family: $osv-heading-font-family;
    font-size: 20px;
  }

  // Tab bar styling.
  --const-mq-affordances:
    [screen] tab-bar
  ;
  &[affordance="tab-bar"] h2 {
    cursor: default;

    // Default tab spacing of 20px. First tab should match grid margin.
    margin-left: 20px;
    &:first-of-type {
      margin-left: var(--mdc-layout-grid-margin-desktop);
    }

    // Selected tab styling.
    &[tabindex="0"] {
      background: #fff;
      color: $osv-accent-color;
    }

    // Show parts of the vulnerability on separate lines.
    .vuln-ecosystem {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }
    .vuln-name {
      display: block;
      font-weight: normal;
    }
    .vuln-title-divider {
      display: none;
    }
  }

  // Tab panel styling.
  [role="tabpanel"] {
    border-top: 1px dashed #fff;
  }
  
  .vulnerability-package-subsection {
    padding: 14px 0;
    border-bottom: 1px dashed #fff;
  }
}

/** Home page */

.home-page {
  .title {
    font-size: 60px;
    line-height: 70px;
  }

  .explainer {
    font-size: 20px;
  }

  .google-backed::after {
    display: inline;
    content: 'google';
    font-family: 'Google Material Icons';
  }

  .ecosystem-counts {
    .ecosystems {
      display: grid;
      grid-template-rows: 30px 210px;
      grid-auto-flow: column;
      dt {
        position: relative;
        top: 210px;
      }
      dd {
        position: relative;
        top: -30px;
        background: #333;
        height: 100%;
      }
      .ecosystem-count {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        background: #ddd;
        color: #000;
        border-radius: 999px;
        text-align: center;
      }
    }
  }

  .usage-examples {
    margin-bottom: 120px;
    .heading {
      font-size: 60px;
      text-align: center;
      margin-bottom: 32px;
    }
  }

  .code-card {
    position: relative;
    background: #d46d59;
    border-radius: 10px;
    padding: 32px;

    .code-card-title {
      font-size: 32px;
    }

    .code-card-copy {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(50%);

      .icon {
        background: #fff;
        border-radius: 999px;
        color: #d46d59;
      }
    }
  }

  .api-banner {
    width: 640px;
    margin: 0 auto;

    .heading {
      font-size: 28px;
      line-height: 54px;
    }
    .description {
      font-size: 20px;
      line-height: 24px;
    }
    .cta {
      margin: 32px 0;
      text-align: center;
    }
  }
}
