@use 'sass:string';

$osv-background: #292929;
$osv-text-color: #fff;
$osv-accent-color: #c5221f;
$osv-accent-color-hover: #c5221fb2;
$osv-red-300: #ec928e;
$osv-grey-600: #80868b;
$osv-body-font-family: string.unquote('Overpass, sans-serif');
$osv-heading-font-family: string.unquote('"Overpass Mono", monospace');
$osv-heading-size: 60px;
$osv-heading-size-mobile: 40px;
$osv-heading-line-height: 70px;
$osv-heading-line-height-mobile: 50px;
$osv-mobile-breakpoint: 500px;

@use '@material/theme' with (
  $surface: $osv-background,
);
@use '@material/layout-grid/mdc-layout-grid';
@use '@material/data-table/data-table';
@use '@material/data-table/data-table-theme';
@include data-table.core-styles;
@include data-table.theme-baseline;

@mixin full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/** Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}

ol, ul, menu {
  list-style: none;
}

img, picture, video, canvas, svg {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

/** Global styles */

body {
  background: $osv-background;
  color: $osv-text-color;
  font-family: $osv-body-font-family;
  font-size: 14px;
  --mdc-theme-primary: #{$osv-text-color};
  --mdc-theme-surface: $osv-background;
  --mdc-theme-background: $osv-background;
  --mdc-typography-font-family: $osv-body-font-family;
  --mdc-text-field-fill-color: #696969;
  --mdc-text-field-ink-color: $osv-text-color;
}

a {
  color: $osv-text-color;
  cursor: pointer;
  text-decoration: underline;
}

a:not([href^="https://osv.dev"]):not([href^="/"]):not([href^="#"])::after {
  display: inline-block;
  content: ' ';
  background-image: url('/static/img/external-link.svg');
  width: 16px;
  height: 16px;
  margin-left: 3px;
  vertical-align: middle;
}

h1,
h2,
h3,
pre {
  font-family: $osv-heading-font-family;
  font-weight: normal;
}

.link-button {
  display: inline-flex;
  padding: 0 16px;
  height: 36px;
  background: $osv-accent-color;
  color: $osv-text-color;
  border-radius: 4px;
  align-items: center;
  text-decoration: none;
}

.link-button:hover {
  background: $osv-accent-color-hover;
}

/** Top bar */

.top-bar {
  display: flex;
  padding: 34px 40px;

  .logo {
    $logo-width: 53px;
    flex: 1 0 ($logo-width + 40px);
    max-width: $logo-width + 112px;
  }

  .tabs {
    display: flex;
    list-style: none;
    margin: 0;
    gap: 40px;
    font-size: 16px;

    li {
      $active-spacing: 6px;
      margin: -$active-spacing 0;
      padding: $active-spacing 0;
      border-bottom: 8px solid #fff0;
      a {
        text-decoration: none;
      }
      &.active {
        border-bottom: 8px solid $osv-text-color;
      }
      &:hover {
        border-bottom: 8px solid $osv-text-color;
        opacity: 70%;
      }
    }
  }
}

/** List page */

.list-page {
  .title {
    font-size: 20px;
  }

  .ecosystem-buttons {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    // We use <spicy-sections> to collapse the ecosystem list only on mobile.
    // On desktop, display the full list.
    --const-mq-affordances:
      [screen and (max-width: #{$osv-mobile-breakpoint}) ] collapse;
    &::part(tab-bar) {
      // The tab bar affordance isn't used, so hide it.
      display: none;
    }
    &::part(content-panels) {
      // Because the shadow root of <spicy-sections> actually wraps our content
      // we need to use display: contents; in order for flex to apply as if the
      // child elements are direct descendants of the parent flex container.
      display: contents;
    }
    .spicy-content {
      // Expanded contents also should act as if they were direct descendants
      // of our flex container.
      display: contents;
    }

    // Customizing the collapsing header for <spicy-sections>. We can select it
    // by looking for the element with affordance="collapse".
    [affordance=collapse] {
      display: flex;
      align-items: center;
      // The ::before on the collapsible is used to display the chevron.
      &::before {
        display: block;
        padding: 0 8px;
        // HACK: Invert the black chevron to white. The chevron is set using
        // background-image, so we can't use the CSS fill property on it.
        filter: invert(100%);
      }
    }
  
    .ecosystem-label {
      display: flex;
      gap: 16px;
      font-family: $osv-heading-font-family;
      padding: 10px 20px;
      background: #696969;
      border-radius: 999px;
  
      .ecosystem-count {
        font-weight: bold;
      }
    }

    .ecosystems-divider {
      display: block;
      margin: 0 10px;
      height: 30px;
      border-right: 1px solid $osv-grey-600;
    }
  
    input[type=radio]:checked + .ecosystem-label {
      background: $osv-text-color;
      color: $osv-accent-color;
    }
  
    input[type=radio] {
      display: none;
    }
  }

  // Hide the submit button.
  .search input[type=submit] {
    display: none;
  }
}

.query-container {
  margin-top: 22px;
  border: 2px solid $osv-text-color;
  border-radius: 8px;
  --mdc-text-field-fill-color: rgba(255, 255, 255, 0.3);
  --mdc-text-field-label-ink-color: $osv-text-color;

  // Make the inner search field full-width.
  .query-field {
    width: 100%;
  }

  // Hax: Use our own icon because mwc-textfield supplies a dark gray one. Maybe M3 will fix it:
  // https://github.com/material-components/material-web/commit/0c200ecf04a533b1dc56932c3979e3e5d8fb7d73
  position: relative;
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
  }

  // Hax: Get rid of the material underline.
  overflow: hidden; /* The underline would otherwise show underneath the border radius. */
  &::after {
    margin-bottom: -4px;
    background: #fff;
    height: 2px;
    position: relative;
    top: -2px;
    content: '';
    display: block;
  }
}

// Hax: Make @material/mwc-icon-button play well with @material/data-table.
mwc-icon-button.mdc-data-table__sort-icon-button {
  width: auto;
  height: auto;
  --mdc-icon-button-size: 36px;
}

.vuln-table-container {
  width: 100%;

  @media (max-width: $osv-mobile-breakpoint) {
    .hide-on-mobile {
      display: none !important;
    }
  }

  // Override MDC table styling.
  border-width: 0;
  .mdc-data-table__header-cell {
    border-bottom-color: $osv-text-color;
    border-bottom-style: solid;
    font-family: $osv-heading-font-family;
    font-weight: bold;
  }
  .mdc-data-table__cell {
    border-bottom-style: dashed;
  }

  // Render the divs as a table.
  .vuln-table {
    display: table;
  }
  .vuln-table-header {
    display: table-header-group;
  }
  .vuln-table-rows {
    display: table-row-group;
  }
  .vuln-table-row {
    display: table-row;
  }
  .vuln-table-cell {
    display: table-cell;
  }

  // Table styling.
  .vuln-table {
    white-space: normal;
  }
  .vuln-table-cell {
    vertical-align: top;
    padding-top: 16px;
    padding-bottom: 16px;
    &.vuln-table-header {
      vertical-align: middle;
    }
  }
  .vuln-versions,
  .vuln-fix-status {
    white-space: nowrap;
  }

  // Packages list.
  .packages {
    margin: 0;
    padding: 0;
  }

  // Version list.
  .versions {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .version {
    display: block;
  }

  // Tag styling.
  .tag {
    display: inline-block;
    background: $osv-text-color;
    color: $osv-background;
    padding: 0 7px;
    border-radius: 4px;

    &.fix-unavailable {
      background: $osv-red-300;
    }
  }

  // Busy effect.
  .vuln-table-rows {
    transition: filter .3s;
  }
  &[busy] .vuln-table-rows {
    filter: blur(4px);
  }

  // Turbo frames should not create layout by default.
  turbo-frame {
    display: contents;
  }

  // Swap next page button/loading indicator as needed.
  turbo-frame .next-page-indicator,
  turbo-frame[busy] .next-page-button {
    display: none;
  }
  turbo-frame[busy] .next-page-indicator {
    display: block;
  }

  // Center the next page button.
  .next-page-frame {
    position: relative;

    .next-page-container {
      padding: 40px 0;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .no-results {
    font-family: $osv-heading-font-family;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px;
  }
}

/** Vulnerability page */

.vulnerability-page {
  font-size: 15px;
  .title {
    font-size: $osv-heading-size;
  }
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: $osv-mobile-breakpoint) {
    .title {
      font-size: $osv-heading-size-mobile;
    }
  }
}

dl.vulnerability-details,
.vulnerability-package-subsection dl {
  display: grid;
  grid-template-columns: max-content minmax(0, auto);
  grid-row-gap: 5px;
  gap: 8px;

  dt {
    grid-column: 1;
    font-weight: bold;
    font-size: 15px;
    padding-right: 18px;
  }

  dd {
    grid-column: 2;
  }


  dd.details {
    overflow-wrap: break-word;
    
    h1, h2, h3, h4 {
      font-family: $osv-body-font-family;
      font-weight: bold;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
    }

    ol, ul {
      margin-bottom: 16px;
    }

    ol {
      list-style: decimal;
    }

    ul {
      list-style: circle;
    }

    code {
      font-family: $osv-heading-font-family;
      background: #333;
    }

    pre {
      background: #333;
      padding: 8px;
      border-radius: 8px;
      white-space: pre;
      overflow-x: auto;
      margin-bottom: 16px;
    }
  }


  pre {
    white-space: pre-wrap;
    overflow: auto;
  }

  .links {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-wrap: break-word;
  }

  .aliases {
    padding: 0;
  }
}

.vulnerability-packages-container {
  margin-top: 50px;

  .title {
    margin-left: 20px;
    font-size: 24px;
    margin-bottom: 16px;
    font-weight: bold;
  }

  // Tab bar styling.
  --const-mq-affordances:
    [screen and (max-width: #{$osv-mobile-breakpoint}) ] collapse |
    [screen and (min-width: #{$osv-mobile-breakpoint+1}) ] tab-bar;

  .force-collapse {
    --const-mq-affordances: [screen] collapse;
  }
}

.vulnerability-packages {
  h2 {
    background: #aaa;
    color: #000;
    display: inline-block;
    font-size: 14px;
    padding: 16px;
  }
  
  h3 {
    font-family: $osv-body-font-family;
    font-weight: bold;
  }

  .subtitle {
    font-family: $osv-heading-font-family;
    font-size: 20px;
  }

  .version-value {
    font-family: $osv-heading-font-family;
  }

  .versions-section {
    --const-mq-affordances: [screen] collapse;

    h2.version-header::before {
      content: '';
      margin-right: 16px;
      background: url(/static/img/arrow.png);
      background-position: center;
      transform: rotate(0deg);
    }

    h2.version-header[expanded]::before {
      transform: rotate(90deg);
    }

    h2.version-header {
      background: none;
      font-family: $osv-heading-font-family;
      color: #fff;
      padding-left: 0px;
      font-size: 16px;
    }
  }

  .versions {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 12px;
  }

  .versions-separator {
    border-bottom: 1px dashed #fff;
  }

  .version {
    width: 100px;
    overflow-wrap: break-word;
  }

  .events {
    gap: 4px;
  }

  .specific {
    overflow: auto;
  }

  .spicy-sections-workaround {
    // https://github.com/tabvengers/spicy-sections/issues/64.
    pointer-events: none;
  }

  &[affordance="collapse"] h2.package-header {
    .vuln-ecosystem {
      display: inline;
      font-weight: bold;
      text-transform: uppercase;
    }
    .vuln-name {
      display: inline;
      font-weight: normal;
    }

    &[expanded] {
      background: #fff;
      color: $osv-accent-color;
    }

    width: 100%;
  }

  &[affordance="tab-bar"] h2.package-header {
    cursor: default;

    // Default tab spacing of 20px. First tab should match grid margin.
    margin-left: 20px;
    &:first-of-type {
      margin-left: var(--mdc-layout-grid-margin-desktop);
    }

    // Selected tab styling.
    &[tabindex="0"] {
      background: #fff;
      color: $osv-accent-color;
    }

    // Show parts of the vulnerability on separate lines.
    .vuln-ecosystem {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
    }
    .vuln-name {
      display: block;
      font-weight: normal;
    }
    .vuln-title-divider {
      display: none;
    }
  }

  // Tab panel styling.
  [role="tabpanel"] {
    border-top: 1px dashed #fff;
  }
  
  .vulnerability-package-subsection {
    padding: 14px 0;
    border-bottom: 1px dashed #fff;
  }
}

/** Home page */

.home-page {
  .background-1 {
    position: fixed;
    top: -60px;
    left: -210px;
    z-index: -100;
    width: 2000px;
    max-width: 2000px;
    opacity: 50%;
  }

  @media (max-width: $osv-mobile-breakpoint) {
    .background-1 {
      left: -400px;
      opacity: 40%;
    }
  }

  .background-2 {
    position: fixed;
    bottom: -100px;
    right: -100px;
    z-index: -100;
    width: 800px;
    max-width: 800px;
    opacity: 50%;
  }

  @media (max-width: $osv-mobile-breakpoint) {
    .background-2 {
      display: none;
    }
  }

  .hero {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    .cta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4px;
    }
  }

  .title {
    font-size: $osv-heading-size;
    line-height: $osv-heading-line-height;
    margin-bottom: 12px;
  }

  @media (max-width: $osv-mobile-breakpoint) {
    .title {
      font-size: $osv-heading-size-mobile;
      line-height: $osv-heading-line-height-mobile;
    }
  }

  .explainer {
    font-size: 20px;

    p {
      margin-bottom: 20px;
    }
    margin-bottom: 24px;
  }

  .ecosystems-section {
    $ecosystem-name-height: 30px;
    $ecosystem-count-wrapper-height: 210px;
    margin-top: 100px;

    .ecosystem-counts-wrapper {
      position: relative;
      background: #333;
      margin-top: 20px;
      height: $ecosystem-count-wrapper-height;

      .ecosystems-line-mid,
      .ecosystems-line-0,
      .ecosystems-line-1,
      .ecosystems-line-2,
      .ecosystems-line-3 {
        width: 100%;
        border-top: 1px dashed #a0a0a0;
        position: absolute;
        z-index: 1;
      }
      .ecosystems-line-mid {
        top: 105px;
        border-top-style: solid;
      }
      .ecosystems-line-0 {
        top: 0px;
      }
      .ecosystems-line-1 {
        top: 52px;
      }
      .ecosystems-line-2 {
        top: 157px;
      }
      .ecosystems-line-3 {
        top: 207px;
      }
    }

    .ecosystem-counts {
      display: grid;
      grid-template-rows: $ecosystem-name-height $ecosystem-count-wrapper-height;
      grid-column-gap: 4px;
      // Indeterminate number of columns of minimum 80px width.
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      // Force columns outside of available space to overflow.
      // These do not use the value set in grid-template-columns, so set it.
      overflow-x: auto;
      grid-auto-flow: column;
      grid-auto-columns: minmax(80px, 1fr);

      .ecosystem-name {
        position: relative;
        top: $ecosystem-count-wrapper-height;
        height: $ecosystem-name-height;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: $osv-heading-font-family;
      }
      .ecosystem-count-wrapper {
        position: relative;
        top: -$ecosystem-name-height;

        a {
          text-decoration: none;
          color: inherit;
        }
      }
      .ecosystem-count {
        font-family: $osv-heading-font-family;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        background: #c4c4c4;
        color: #3c4043;
        border-radius: 50%;
        text-align: center;
        z-index: 1;

        .tooltip {
          display: none;
          color: $osv-text-color;
          position: absolute;
          background: #11111199;
          max-width: 250px;
          line-height: 16px;
          padding: 5px;
          border-radius: 4px;
        }
      }

      .ecosystem-count:hover {
        background: #d4d4d4;
        cursor: pointer;

        z-index: 999;
        .tooltip {
          display: block;
        }
      }
    }
  }

  .text-info {
    max-width: 800px;
    margin: 100px auto 0;

    .heading {
      font-size: $osv-heading-size;
      text-align: center;
      margin-bottom: 32px;
    }

    @media (max-width: $osv-mobile-breakpoint) {
      .heading {
        font-size: $osv-heading-size-mobile;
      }
    }

    .description {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 24px;
    }

    code-block {
      font-size: 12px;
      font-family: $osv-heading-font-family;
    }

    .cta {
      margin: 32px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4px;
    }
  }

  .usage-examples {
    margin-top: 100px;
    margin-bottom: 120px;
    .heading {
      font-size: $osv-heading-size;
      text-align: center;
      margin-bottom: 32px;
    }

    @media (max-width: $osv-mobile-breakpoint) {
      .heading {
        font-size: $osv-heading-size-mobile;
      }
    }

    .description {
      font-size: 20px;
      line-height: 26px;
      margin-bottom: 20px;
      text-align: center;
    }

    .cta {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4px;
    }

    .cmdline {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .code-card-container {
    max-width: 1400px;
    margin: 0 auto;
  }

  .code-card {
    position: relative;
    background: #d46d59;
    border-radius: 10px;
    padding: 32px;
    margin-bottom: 32px;

    .code-card-title {
      font-size: 32px;
    }

    .code-card-content {
      overflow: auto;
    }

    .code-card-copy {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%) translateY(50%);

      .icon {
        background: #fff;
        border-radius: 999px;
        color: #d46d59;
      }
    }
  }

  .open-source-banner {
    max-width: 640px;
    margin: 0 auto;

    .heading {
      font-size: $osv-heading-size;
      text-align: center;
      margin-bottom: 32px;
    }

    @media (max-width: $osv-mobile-breakpoint) {
      .heading {
        font-size: $osv-heading-size-mobile;
      }
    }

    .description {
      font-size: 20px;
      line-height: 26px;
      text-align: center;
    }
    .cta {
      margin: 32px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4px;
    }
  }
}

.about-page {
  .title,
  .faq-title {
    font-size: 60px;
  }

  .faq-title {
    margin-top: 40px;
    margin-bottom: 48px;
  }

  .open-docs {
    display: block;
    width: 744px;
    padding: 20px 50px;
    background: #676767;
    font-size: 20px;
    font-family: $osv-heading-font-family;
  }

  .questions {
    max-width: 800px;
    margin: 0 auto;

    --const-mq-affordances:
      [screen] collapse
    ;

    .question {
      border-top: 1px dotted #a0a0a0;
      padding: 20px 0;
      font-family: $osv-body-font-family;
      font-size: 20px;
      font-weight: bold;
    }

    [affordance=collapse] {
      &::before {
        padding: 0 8px;
        // HACK: Invert the black chevron to white. The chevron is set using
        // background-image, so we can't use the CSS fill property on it.
        filter: invert(100%);
      }
    }

    .answer {
      margin-left: 20px;
      padding-bottom: 20px;
      font-size: 16px;

      p {
        margin-bottom: 16px;
      }

      li {
        list-style-type: decimal;
      }
    }
  }
}

