[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==42.0.8"
google-cloud-secret-manager = "==2.20.0"
osv = "==0.0.21"
requests = "==2.32.3"
