[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==41.0.7"
google-cloud-secret-manager = "==2.16.4"
osv = "==0.0.18"
requests = "==2.31.0"
