[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==42.0.4"
google-cloud-secret-manager = "==2.18.2"
osv = "==0.0.18"
requests = "==2.32.0"
