{% extends 'base.html' %}

{% block top_bar %} {% endblock %}

{% block content %}
<div class="mdc-layout-grid not-found-page">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12 text-info">
            <h2 class="heading">Oops! Page Not Found!</h2>
            <p class="description">
                While you're here, why not check out our
                <a href="https://google.github.io/osv.dev/">documentation</a> or
                <a href="https://google.github.io/osv.dev/faq/">FAQ</a>?
            </p>
            <div class="cta">
                <a class="cta-primary link-button" href="{{ url_for('frontend_handlers.index') }}"
                    aria-label="Get me back Home!">Back to Home</a>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
{% endblock %}
