{% extends 'base.html' %}
{% set active_section = 'vulnerabilities' %}

{% macro table_header_cell(column_id, column_name) %}
<span
class="vuln-table-cell mdc-data-table__header-cell mdc-data-table__header-cell--with-sort"
role="columnheader"
scope="col"
aria-sort="none"
data-column-id="{{ column_id }}"
>
<div class="mdc-data-table__header-cell-wrapper">
  <div class="mdc-data-table__header-cell-label">
    {{ column_name }}
  </div>
  <mwc-icon-button class="mdc-data-table__sort-icon-button" icon="arrow_upward"
  aria-label="Sort by {{ column_name }}" aria-describedby="{{ column_id }}-status-label"></mwc-icon-button>
  <div class="mdc-data-table__sort-status-label" aria-hidden="true" id="{{ column_id }}-status-label">
  </div>
</div>
</span>
{% endmacro %}

{% block content %}
<div class="list-page">
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12">
      <h1 class="title">Vulnerability Library</h1>
      <div class="search">
        <form action="{{ url_for('frontend_handlers.list') }}" data-turbo-frame="vulnerability-table">
          <div class="mdc-layout-grid__inner">
            <div class="query-container mdc-layout-grid__cell--span-8">
              <mwc-icon class="search-icon">search</mwc-icon>
              <mwc-textfield-with-enter label="Package or ID search" icon="a" class="query-field" name="q" value="{{ query }}"></mwc-textfield-with-enter>
            </div>
          </div>
          <submit-radios class="ecosystems">
            {% if ecosystems %}
              {% for ecosystem in ecosystems %}
                <input type="radio" name="ecosystem" id="ecosystem-radio-{{ loop.index }}"
                    value="{{ ecosystem }}"{% if selected_ecosystem == ecosystem %} checked{% endif %}>
                <label for="ecosystem-radio-{{ loop.index }}">{{ ecosystem }}</label>
              {% endfor %}
            {% endif %}
          </submit-radios>
          <input type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
<turbo-frame class="vuln-table-container mdc-data-table" id="vulnerability-table" data-turbo-action="advance">
  <div role="table" class="vuln-table mdc-data-table__table" aria-label="Vulnerability table">
    <div role="rowgroup" class="vuln-table-header">
      <div role="row" class="vuln-table-row mdc-data-table__header-row">
        {{ table_header_cell('id', 'ID') }}
        {{ table_header_cell('package', 'Packages') }}
        {{ table_header_cell('summary', 'Summary') }}
        {{ table_header_cell('affected-versions', 'Affected versions') }}
        {{ table_header_cell('ecosystem', 'Ecosystem') }}
        {{ table_header_cell('last-modified', 'Last modified') }}
        {{ table_header_cell('fixed', 'Fix') }}
        {{ table_header_cell('severity', 'Severity') }}
      </div>
    </div>
    <div role="rowgroup" class="vuln-table-rows mdc-data-table__content">
      <turbo-frame id="vulnerability-table-page{{ page }}" data-turbo-action="advance" target="_top">
        {% for vulnerability in vulnerabilities %}
        <div role="row" class="vuln-table-row mdc-data-table__row">
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            <a href="{{ url_for('frontend_handlers.vulnerability', id=vulnerability.id) }}">{{ vulnerability.id }}</a>
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {% for affected in vulnerability.affected %}
            {{ affected.package.ecosystem }}/{{ affected.package.name }}
            {% endfor %}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {{ vulnerability.summary }}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {% for version in vulnerability.affected | map(attribute='versions', default=[]) | sum(start=[]) %}
              {{ version }}
            {% else %}
              See details.
            {% endfor %}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell"></span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {{ vulnerability.modified }}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell"></span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell"></span>
        </div>
        {% endfor %}
        <turbo-frame id="vulnerability-table-page{{ page + 1 }}" data-turbo-action="advance" target="_top">
          <div class="next-page-container">
            <a class="next-page-button link-button" href="{{ url_for(request.endpoint) }}?page={{ page + 1 }}" data-turbo-frame="_self">Load more...</a>
            <mwc-circular-progress class="next-page-indicator" indeterminate density="-4"></mwc-circular-progress>
          </div>
        </turbo-frame>
      </turbo-frame>
    </div>
  </div>
</turbo-frame>
</div>
{% endblock %}
