{% extends 'base.html' %}
{% set active_section = 'vulnerabilities' %}

{% macro table_header_cell(column_id, column_name) %}
<span
class="vuln-table-cell mdc-data-table__header-cell mdc-data-table__header-cell--with-sort"
role="columnheader"
scope="col"
aria-sort="none"
data-column-id="{{ column_id }}"
>
<div class="mdc-data-table__header-cell-wrapper">
  <div class="mdc-data-table__header-cell-label">
    {{ column_name }}
  </div>
  <mwc-icon-button class="mdc-data-table__sort-icon-button" icon="arrow_upward"
  aria-label="Sort by {{ column_name }}" aria-describedby="{{ column_id }}-status-label"></mwc-icon-button>
  <div class="mdc-data-table__sort-status-label" aria-hidden="true" id="{{ column_id }}-status-label">
  </div>
</div>
</span>
{% endmacro %}

{% block content %}
<div class="list-page">
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-8">
      <h1 class="title">Vulnerability Library</h1>
      <div class="search-container">
        <mwc-icon class="search-icon">search</mwc-icon>
        <mwc-textfield label="Package or ID search" icon="a" class="search-field"></mwc-textfield>
      </div>
    </div>
  </div>
</div>
<div class="vuln-table-container mdc-data-table">
  <div role="table" class="vuln-table mdc-data-table__table" aria-label="Vulnerability table">
    <div role="rowgroup" class="vuln-table-header">
      <div role="row" class="vuln-table-row mdc-data-table__header-row">
        {{ table_header_cell('id', 'ID') }}
        {{ table_header_cell('package', 'Packages') }}
        {{ table_header_cell('summary', 'Summary') }}
        {{ table_header_cell('affected-versions', 'Affected versions') }}
        {{ table_header_cell('ecosystem', 'Ecosystem') }}
        {{ table_header_cell('last-modified', 'Last modified') }}
      </div>
    </div>
    <div role="rowgroup" class="vuln-table-rows mdc-data-table__content">
      <turbo-frame id="vulnerability-table-page{{ page }}" data-turbo-action="advance" target="_top">
        {% for vulnerability in vulnerabilities %}
        <div role="row" class="vuln-table-row mdc-data-table__row">
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            <a href="{{ url_for('frontend_handlers.vulnerability', id=vulnerability.id) }}">{{ vulnerability.id }}</a>
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {% for package in vulnerability.packages %}
            {{ package }}
            {% endfor %}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {{ vulnerability.summary }}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell">
            {% for version in vulnerability.versions %}
            {{ version }}
            {% endfor %}
          </span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell"></span>
          <span role="cell" class="vuln-table-cell mdc-data-table__cell"></span>
        </div>
        {% endfor %}
        <turbo-frame id="vulnerability-table-page{{ page+1 }}" data-turbo-action="advance" target="_top">
          <div role="row" class="vuln-table-row mdc-data-table__row">
            <a href="{{ url_for(request.endpoint) }}?page={{ page + 1 }}" data-turbo-frame="_self">Load more...</a>
          </div>
        </turbo-frame>
      </turbo-frame>
    </div>
  </table>
</div>
</div>
</div>
{% endblock %}
