[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-ndb = "*"
PyYAML = "*"
osv = {editable = true, path = "./../.."}

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"
