[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-ndb = "==2.3.1"
google-cloud-storage = "==2.17.0"
PyYAML = "==6.0.1"
osv = {editable = true, path = "./../.."}

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"
