@import "./variables";

$color-scheme: dark;
$body-background-color: $grey-dk-300;
$body-heading-color: $white;//$grey-lt-000;
$body-text-color: $grey-lt-300;
$link-color: #C9F5F7;
$nav-child-link-color: $white; //$grey-dk-000;
$sidebar-color: $grey-dk-300;
$base-button-color: $grey-dk-250;
$btn-primary-color: $blue-200;
$code-background-color: #31343f; // OneDarkJekyll default for syntax-one-dark-vivid
$code-linenumber-color: #dee2f7; // OneDarkJekyll .nf for syntax-one-dark-vivid
$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-dk-000;
$border-color: $grey-dk-200;

// Source: https://github.com/dwayne/sass-pygments/blob/master/styles/scss/solarized_dark.scss

.highlight {
    .hll {
      background-color: #ffffcc;
    }
  
    background: #002B36;
    color: #93A1A1;
  
    .c {
      color: #586E75;
    }
  
    .err, .esc, .g {
      color: #93A1A1;
    }
  
    .k {
      color: #719e07;
    }
  
    .l, .n {
      color: #93A1A1;
    }
  
    .o {
      color: #719e07;
    }
  
    .x {
      color: #CB4B16;
    }
  
    .p {
      color: #93A1A1;
    }
  
    .ch, .cm {
      color: #586E75;
    }
  
    .cp {
      color: #719e07;
    }
  
    .cpf, .c1 {
      color: #586E75;
    }
  
    .cs {
      color: #719e07;
    }
  
    .gd {
      color: #DC322F;
    }
  
    .ge {
      color: #93A1A1;
      font-style: italic;
    }
  
    .gr {
      color: #DC322F;
      font-weight: bold;
    }
  
    .gh {
      color: #CB4B16;
    }
  
    .gi {
      color: #719e07;
    }
  
    .go, .gp {
      color: #93A1A1;
    }
  
    .gs {
      color: #93A1A1;
      font-weight: bold;
    }
  
    .gu {
      color: #268BD2;
    }
  
    .gt {
      color: #93A1A1;
    }
  
    .kc {
      color: #CB4B16;
    }
  
    .kd {
      color: #268BD2;
    }
  
    .kn, .kp {
      color: #719e07;
    }
  
    .kr {
      color: #268BD2;
    }
  
    .kt {
      color: #DC322F;
    }
  
    .ld {
      color: #93A1A1;
    }
  
    .m, .s {
      color: #2AA198;
    }
  
    .na {
      color: #93A1A1;
    }
  
    .nb {
      color: #B58900;
    }
  
    .nc {
      color: #268BD2;
    }
  
    .no {
      color: #CB4B16;
    }
  
    .nd {
      color: #268BD2;
    }
  
    .ni, .ne {
      color: #CB4B16;
    }
  
    .nf {
      color: #268BD2;
    }
  
    .nl, .nn, .nx, .py {
      color: #93A1A1;
    }
  
    .nt, .nv {
      color: #268BD2;
    }
  
    .ow {
      color: #719e07;
    }
  
    .w {
      color: #93A1A1;
    }
  
    .mb, .mf, .mh, .mi, .mo {
      color: #2AA198;
    }
  
    .sb {
      color: #586E75;
    }
  
    .sc {
      color: #2AA198;
    }
  
    .sd {
      color: #93A1A1;
    }
  
    .s2 {
      color: #2AA198;
    }
  
    .se {
      color: #CB4B16;
    }
  
    .sh {
      color: #93A1A1;
    }
  
    .si, .sx {
      color: #2AA198;
    }
  
    .sr {
      color: #DC322F;
    }
  
    .s1, .ss {
      color: #2AA198;
    }
  
    .bp, .vc, .vg, .vi {
      color: #268BD2;
    }
  
    .il {
      color: #2AA198;
    }
  }
  
  /* Comment */
  /* Error */
  /* Escape */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */