{% extends 'base.html' %}

{% block extra_head %}
<!-- Defer offscreen images on mobile screens -->
<link rel="preload" fetchpriority="high" as="image" href="/static/img/footer-decoration.webp" type="image/webp"
    media="(min-width: 768px)" onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="/static/img/footer-decoration.webp" type="image/webp">
</noscript>
{% endblock %}

{% block top_bar %} {% endblock %}

{% block content %}
{% if vuln_id %}
<div class="mdc-layout-grid not-found-page">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12 text-info">
            <h2 class="heading">{{ vuln_id }} Not Found!</h2>
            <p class="description">
            {% if has_importfindings %}
            The record has not been successfully imported from its source<br/>
            {% endif %}
                Please see our
                <a href="https://google.github.io/osv.dev/faq/">FAQ</a> for more information.
            </p>
            <div class="cta">
                <a class="cta-primary link-button" href="{{ url_for('frontend_handlers.index') }}"
                    aria-label="Get me back Home!">Back to Home</a>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
{% else %}
<div class="mdc-layout-grid not-found-page">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12 text-info">
            <h2 class="heading">Oops! Page Not Found!</h2>
            <p class="description">
                While you're here, why not check out our
                <a href="https://google.github.io/osv.dev/">documentation</a> or
                <a href="https://google.github.io/osv.dev/faq/">FAQ</a>?
            </p>
            <div class="cta">
                <a class="cta-primary link-button" href="{{ url_for('frontend_handlers.index') }}"
                    aria-label="Get me back Home!">Back to Home</a>
            </div>
        </div>
    </div>
    <footer></footer>
</div>
{% endif %}
{% endblock %}
