{% extends 'base.html' %}
{% set active_section = 'home' %}

{% block extra_head %}
<link rel="preload" fetchpriority="high" as="image" href="/static/img/background-1.webp" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="/static/img/background-2.webp" type="image/webp">
<link rel="preload" fetchpriority="high" as="image" href="/static/img/external-link.svg" type="image/webp">
<!-- Defer offscreen images on mobile screens -->
<link rel="preload" fetchpriority="high" as="image" href="/static/img/footer-decoration.webp" type="image/webp"
  media="(min-width: 768px)" onload="this.media='all'">
<noscript>
  <link rel="stylesheet" href="/static/img/footer-decoration.webp" type="image/webp">
</noscript>
{% endblock %}

{% block content %}
<div class="mdc-layout-grid home-page">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-12 hero">
      <h1 class="title">A distributed vulnerability database for Open Source</h1>
      <div class="explainer">
        <p>An open, precise, and distributed approach to producing and consuming vulnerability information for open
          source.
      </div>
      <div class="cta">
        <a class="cta-primary link-button" href="{{ url_for('frontend_handlers.list_vulnerabilities') }}">Search
          Vulnerability Database</a>
        <a class="cta-primary link-button" href="#use-the-api">Use the API</a>
      </div>
      <div class="cta">
        <a class="cta-primary link-button" href="#use-vulnerability-scanner">Vulnerability Scanner</a>
        <a class="cta-primary link-button" href="#use-remediation-tools">Remediation Tools</a>
        <a class="cta-primary link-button" href="#use-the-github-workflows">GitHub Workflows</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-12 ecosystems-section">
      <h2 class="heading">Ecosystems</h2>
      <div class="ecosystem-counts-wrapper">
        <div class="ecosystems-line-mid"></div>
        <div class="ecosystems-line-0"></div>
        <div class="ecosystems-line-1"></div>
        <div class="ecosystems-line-2"></div>
        <div class="ecosystems-line-3"></div>
        <dl class="ecosystem-counts">
          {% if ecosystem_counts %}
          {% set total = ecosystem_counts.values() | sum %}
          {% for ecosystem, count in ecosystem_counts.items() %}
          {% if count > 30 %}
          <dt class="ecosystem-name">{{ ecosystem }}</dt>
          <dd class="ecosystem-count-wrapper">
            {% set radius = [(count | log) / (total | log) * 100, 30] | max %}
            <a href="{{ url_for('frontend_handlers.list_vulnerabilities', ecosystem=ecosystem) }}">
              <span class="ecosystem-count" style="
                      width: {{ radius }}px; height: {{ radius }}px; line-height: {{ radius }}px">
                {{ count }}
                <span class="tooltip" style="
                       top: -{{ (radius / 2) + 5}}px;">
                  View {{ ecosystem }} vulnerabilities
                </span>
              </span>
            </a>
          </dd>
          {% endif %}
          {% endfor %}
          {% endif %}
        </dl>
      </div>
    </div>

    <div class="mdc-layout-grid__cell--span-12 text-info">
      <h2 class="heading">OSV schema</h2>
      <p class="description">
        All advisories in this database use the
        <a href="https://ossf.github.io/osv-schema/">OpenSSF OSV format</a>, which
        was developed in collaboration with open source communities.
      </p>
      <p class="description">
        The OSV schema provides a human and machine readable data format to
        describe vulnerabilities in a way that precisely maps to open source
        package versions or commit hashes.
      </p>
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-12">
          <pre class="big-code-block"><code>{
  "schema_version": "1.3.0",
  "id": "GHSA-c3g4-w6cv-6v7h",
  "modified": "2022-04-01T13:56:42Z",
  "published": "2022-04-01T13:56:42Z",
  "aliases": [ "CVE-2022-27651" ],
  "summary": "Non-empty default inheritable capabilities for linux container in Buildah",
  "details": "A bug was found in Buildah where containers were created ...",
  "affected": [
    {
      "package": {
        "ecosystem": "Go",
        "name": "github.com/containers/buildah"
      },
      "ranges": [
        {
          "type": "SEMVER",
          "events": [
            {
              "introduced": "0"
            },
            {
              "fixed": "1.25.0"
            }
          ]
        }
      ]
    }
  ],
  "references": [
    {
      "type": "WEB",
      "url": "https://github.com/containers/buildah/commit/..."
    },
    {
      "type": "PACKAGE",
      "url": "https://github.com/containers/buildah"
    }
  ]
}</code></pre>
        </div>
      </div>
      <div class="cta">
        <a class="cta-primary link-button" href="https://ossf.github.io/osv-schema/">OSV Schema</a>
        <a class="cta-primary link-button"
          href="https://security.googleblog.com/2021/06/announcing-unified-vulnerability-schema.html">Blog post</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-12 text-info data-sources">
      <h2 class="heading">Data sources</h2>
      <p class="description">
        This infrastructure serves as an aggregator of vulnerability databases
        that have adopted the <a href="https://ossf.github.io/osv-schema/">OSV schema</a>, including
        <a href="https://github.com/github/advisory-database">GitHub Security Advisories</a>,
        <a href="https://github.com/pypa/advisory-database">PyPA</a>,
        <a href="https://github.com/RustSec/advisory-db">RustSec</a>, and
        <a href="https://github.com/cloudsecurityalliance/gsd-database">Global Security Database</a>, and
        more.
      </p>
      <div class="cta">
        <a class="cta-primary link-button" href="https://google.github.io/osv.dev/data/#current-data-sources"
          aria-label="Learn more about our data sources">Learn more</a>
      </div>
    </div>
    <div id="use-the-api" class="mdc-layout-grid__cell--span-12 usage-examples">
      <h2 class="heading">Use the API</h2>
      <p class="description">
        An easy-to-use API is available to query for all known vulnerabilities
        by either a commit hash, or a package version.
      </p>
      <div class="code-card-container mdc-layout-grid__inner">
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Query by commit hash</h3>
          <pre class="code-card-content" id="example-commit-hash">curl -d \
  '{"commit": "6879efc2c1596d11a6a6ad296f80063b558d5e0f"}' \
  "https://api.osv.dev/v1/query"</pre>
          <clipboard-copy class="code-card-copy" for="example-commit-hash">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Query by version number</h3>
          <pre class="code-card-content" id="example-version-number">curl -d \
  '{"version": "2.4.1",
    "package": {"name": "jinja2", "ecosystem": "PyPI"}}' \
  "https://api.osv.dev/v1/query"</pre>
          <clipboard-copy class="code-card-copy" for="example-version-number">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-12">
        <div class="cta">
          <a class="cta-primary link-button" href="https://google.github.io/osv.dev/api/">API Documentation</a>
        </div>
      </div>
    </div>
    <div id="use-vulnerability-scanner" class="mdc-layout-grid__cell--span-12 usage-examples">
      <!-- &#8209; is a non breaking hyphen -->
      <h2 class="heading">Vulnerability Scanner</h2>
      <div class="code-card-container mdc-layout-grid__inner">
        <div class="mobile-spacer mdc-layout-grid__cell--span-3"></div>
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Install OSV&#8209;Scanner</h3>
          <pre class="code-card-content" id="example-scanner-install">
go install github.com/google/osv-scanner/v2/cmd/osv-scanner@v2
          </pre>
          <clipboard-copy class="code-card-copy" for="example-scanner-install">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
        <div class="mobile-spacer mdc-layout-grid__cell--span-3"></div>
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Scan SBOM or Lockfiles</h3>
          <pre class="code-card-content" id="example-sbom-scan">
osv-scanner --sbom=cycloned-or-spdx-sbom.json
osv-scanner --lockfile=package-lock.json
          </pre>
          <clipboard-copy class="code-card-copy" for="example-sbom-scan">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Scan directory recursively</h3>
          <pre class="code-card-content" id="example-dir-scan">
osv-scanner -r path/to/your/project
          </pre>
          <clipboard-copy class="code-card-copy" for="example-dir-scan">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-12">
        <div class="cta">
          <a class="cta-primary link-button" href="https://google.github.io/osv-scanner/">More details</a>
        </div>
      </div>
    </div>
    <div id="use-remediation-tools" class="mdc-layout-grid__cell--span-12 usage-examples">
      <!-- &#8209; is a non breaking hyphen -->
      <h2 class="heading">Remediation Tools</h2>
      <div class="code-card-container mdc-layout-grid__inner">
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Guided Remediation (basic)</h3>
          <pre class="code-card-content" id="example-guided-remediation-basic">
osv-scanner fix --non-interactive --strategy=in-place -L path/to/package-lock.json
osv-scanner fix --non-interactive --strategy=relock -M path/to/package.json -L path/to/package-lock.json
          </pre>
          <clipboard-copy class="code-card-copy" for="example-guided-remediation-basic">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
        <div class="code-card mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-12-tablet">
          <h3 class="code-card-title">Guided Remediation (interactive)</h3>
          <pre class="code-card-content" id="example-guided-remediation-advanced">
osv-scanner fix -M path/to/package.json -L path/to/package-lock.json
          </pre>
          <clipboard-copy class="code-card-copy" for="example-guided-remediation-advanced">
            <md-icon-button class="icon"><md-icon>content_copy</md-icon></md-icon-button>
          </clipboard-copy>
        </div>
      </div>
      <div class="mdc-layout-grid__cell--span-12">
        <div class="cta">
          <a class="cta-primary link-button" href="https://google.github.io/osv-scanner/experimental/guided-remediation/">More details</a>
        </div>
      </div>
    </div>
    <div id="use-the-github-workflows" class="mdc-layout-grid__cell--span-12 github-action">
      <h2 class="heading">GitHub Workflows</h2>
      <p class="description">
        OSV-Scanner also provides reusable GitHub workflows that can be easily integrated into CI/CD pipelines to provide
        continuous vulnerability scanning coverage. This can scan newly added dependencies in pull requests for introduced
        vulnerabilities, as well as perform regular vulnerability scans for the entire project.</p>
      <div class="image-container">
        <img src="/static/img/github-action-scan-output.webp" alt="Screenshot of OSV-Scanner GitHub Action" loading="lazy">
      </div>
      <div class="cta">
        <a class="cta-primary link-button" href="https://google.github.io/osv-scanner/github-action/"
          aria-label="Learn more about osv scanner github action">Learn more</a>
      </div>
    </div>
    <div class="mdc-layout-grid__cell--span-12 open-source-banner">
      <h2 class="heading">Open source</h2>
      <p class="description">
        This project is <a href="https://github.com/google/osv">open source</a>. If you have any ideas or questions,
        please feel free to
        reach out by <a href="https://github.com/google/osv/issues/new/choose">creating an issue</a>!
      </p>
      <div class="cta">
        <a class="cta-primary link-button" href="https://google.github.io/osv.dev/faq/"
          aria-label="Learn more on our FAQ">Learn more</a>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
{% endblock %}
