{% extends 'base.html' %}
{% set active_section = 'vulnerabilities' %}
{% set disable_turbo_cache = 'true' %}

{% macro table_header_cell(column_id, column_name, is_sortable, is_sorted, is_descending) %}
<span class="vuln-table-cell mdc-data-table__header-cell vuln-table-header
    {% if is_sortable %}mdc-data-table__header-cell--with-sort__DISABLED{% endif %}
    {% if is_sorted %}mdc-data-table__header-cell--sorted{% endif %}
    {% if is_descending %}mdc-data-table__header-cell--sorted-descending{% endif %}" role="columnheader" scope="col"
  aria-sort="{% if is_sorted %}{% if is_descending %}descending{% else %}ascending{% endif %}{% else %}none{% endif %}"
  data-column-id="{{ column_id }}">
  <div class="mdc-data-table__header-cell-wrapper">
    <div class="mdc-data-table__header-cell-label">
      {{ column_name }}
    </div>
    {% if is_sorted %}
    <md-icon-button class="mdc-data-table__sort-icon-button" disabled aria-label="Sorted by {{ column_name }}"
      aria-describedby="{{ column_id }}-status-label">
      <md-icon aria-hidden="false">arrow_upward</md-icon>
    </md-icon-button>
    <div class="mdc-data-table__sort-status-label" aria-hidden="true" id="{{ column_id }}-status-label">
    </div>
    {% endif %}
  </div>
</span>
{% endmacro %}

{% block content %}
<div class="list-page">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <h1 class="title">Vulnerabilities</h1>
        <div class="search">
          <form action="{{ url_for('frontend_handlers.list_vulnerabilities') }}" data-turbo-frame="vulnerability-table">
            <div class="mdc-layout-grid__inner">
              <div class="query-container mdc-layout-grid__cell--span-8">
                <md-textfield-with-suggestions label="Package or ID search" class="query-field" type="search" name="q"
                  value="{{ query }}">
                  <md-icon slot="leading-icon" aria-hidden="false">search</md-icon>
                </md-textfield-with-suggestions>
              </div>
            </div>
            <submit-radios>
              {% if ecosystem_counts %}
              <spicy-sections class="ecosystem-buttons">
                <spicy-h>
                  <input type="radio" name="ecosystem" id="ecosystem-radio-all" value="" {% if not selected_ecosystem %}
                    checked{% endif %}>
                  <label class="ecosystem-label ecosystem-label-all" for="ecosystem-radio-all">
                    <span class="ecosystem-name">All ecosystems</span>
                    <span class="ecosystem-count">{{ ecosystem_counts.values() | sum }}</span>
                  </label>
                </spicy-h>
                <div class="spicy-content">
                  <span class="ecosystems-divider"></span>
                  {% for ecosystem in ecosystem_counts %}
                  <input type="radio" name="ecosystem" id="ecosystem-radio-{{ loop.index }}" value="{{ ecosystem }}" {%
                    if selected_ecosystem==ecosystem %} checked{% endif %}>
                  <label class="ecosystem-label" for="ecosystem-radio-{{ loop.index }}">
                    <span class="ecosystem-name">{{ ecosystem }}</span>
                    <span class="ecosystem-count">{{ ecosystem_counts[ecosystem] }}</span>
                  </label>
                  {% endfor %}
                </div>
              </spicy-sections>
              {% endif %}
            </submit-radios>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
  <turbo-frame class="vuln-table-container mdc-data-table" id="vulnerability-table" data-turbo-action="advance">
    <div role="table" class="vuln-table mdc-data-table__table" aria-label="Vulnerability table">
      <div role="rowgroup" class="vuln-table-header">
        <div role="row" class="vuln-table-row mdc-data-table__header-row">
          {{ table_header_cell('id', 'ID', is_sortable=False, is_sorted=False, is_descending=False) }}
          {{ table_header_cell('package', 'Packages', is_sortable=False, is_sorted=False, is_descending=False) }}
          {{ table_header_cell('summary', 'Summary', is_sortable=False, is_sorted=False, is_descending=False) }}
          {{ table_header_cell('published', 'Published', is_sortable=True, is_sorted=True, is_descending=True) }}
          {{ table_header_cell('attributes', 'Attributes', is_sortable=False, is_sorted=False, is_descending=False) }}
        </div>
      </div>
      <div role="rowgroup" class="vuln-table-rows mdc-data-table__content">
        <turbo-frame id="vulnerability-table-page{{ page }}" data-turbo-action="advance" target="_top">
          {% for vulnerability in vulnerabilities %}
          <div role="row" class="vuln-table-row mdc-data-table__row">
            <span role="cell" class="vuln-table-cell mdc-data-table__cell">
              <a href="{{ url_for('frontend_handlers.vulnerability', vuln_id=vulnerability.id) }}">{{ vulnerability.id
                }}</a>
            </span>
            <span role="cell" class="vuln-table-cell vuln-packages mdc-data-table__cell">
              <ul class="packages">
                {% for package in (vulnerability.affected | list_packages) %}
                  <li>{{ package }}</li>
                {% else %}
                  <li>Not specified</li>
                {% endfor %}
              </ul>
            </span>
            <span role="cell" class="vuln-table-cell vuln-summary mdc-data-table__cell">
              {{ vulnerability.summary or "See record for full details" }}
            </span>
            <span role="cell" class="vuln-table-cell mdc-data-table__cell">
              <relative-time datetime="{{ vulnerability.published }}">
                {{ vulnerability.published | relative_time }}
              </relative-time>
            </span>
            <span role="cell" class="vuln-table-cell vuln-attributes mdc-data-table__cell">
              <ul class="tags">
                <li>
                  {%- if vulnerability.isFixed -%}
                  <span class="tag fix-available">Fix available</span>
                  {%- else -%}
                  <span class="tag fix-unavailable">No fix available</span>
                  {%- endif -%}
                </li>
                {%- if vulnerability.severity_score and vulnerability.severity_rating -%}
                <li>
                  <span class="tag severity-{{ vulnerability.severity_rating | lower }}">Severity - {{
                    vulnerability.severity_score }} ({{ vulnerability.severity_rating }})</span>
                </li>
                {%- endif -%}
              </ul>
            </span>
          </div>
          {%- endfor -%}
          {%- if vulnerabilities | length == 0 -%}
          <span class="no-results">No results (check our <a href="https://google.github.io/osv.dev/faq/">FAQ</a> if this is unexpected)</span>
          {%- endif -%}
          {%- if page < total_pages -%} <turbo-frame id="vulnerability-table-page{{ page + 1 }}"
            data-turbo-action="advance" target="_top" class="next-page-frame">
            <div class="next-page-container">
              <a class="next-page-button link-button" data-turbo-frame="_self" href="{{ url_for(request.endpoint) }}?page={{ page + 1 }}
                  {%- if query %}&q={{ query }}{% endif %}
                  {%- if selected_ecosystem %}&ecosystem={{ selected_ecosystem }}{% endif %}">
                <span>Load more...</span>
                {%- if total_pages - page <= 3 -%} <span style="margin-left: 5px">({{ total_pages - page }} page{% if
                  total_pages - page > 1 %}s{% endif %} left)</span>
                  {%- endif -%}
              </a>
              <md-circular-progress class="next-page-indicator" indeterminate density="-4"
                aria-label="Page loading progress"></md-circular-progress>
            </div>
        </turbo-frame>
        {%- endif -%}
  </turbo-frame>
</div>
</div>
<turbo-stream action="update" target="title">
  <template>
    {% if selected_ecosystem %}
    {{ selected_ecosystem }} - OSV
    {% else %}
    Vulnerability Database - OSV
    {% endif %}
  </template>
</turbo-stream>
</turbo-frame>
</div>
{% endblock %}