interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/status
  response:
    body:
      string: '{"version":"2025.04.0-4","build_date":"2025-04-10T18:02:32Z","metrics_enabled":false,"r_configured":true,"python_configured":true,"binaries_enabled":true,"display_ash":false,"custom_home":false,"custom_home_title":"Posit
        Public Package Manager","ga_id":"GTM-KHBDBW7","auth_available":false,"distros":[{"name":"centos7","os":"linux","binaryDisplay":"CentOS/RHEL
        7","binaryURL":"centos7","display":"CentOS 7","distribution":"centos","release":"7","build_distribution":"","sysReqs":true,"binaries":true,"hidden":false,"official_rspm":true},{"name":"centos8","os":"linux","binaryDisplay":"CentOS/RHEL
        8","binaryURL":"centos8","display":"CentOS 8","distribution":"centos","release":"8","build_distribution":"","sysReqs":true,"binaries":true,"hidden":true,"official_rspm":true},{"name":"rhel9","os":"linux","binaryDisplay":"Rocky
        Linux 9","binaryURL":"rhel9","display":"Rocky Linux 9","distribution":"rockylinux","release":"9","build_distribution":"","sysReqs":true,"binaries":true,"hidden":false,"official_rspm":true},{"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/repos/4/packages/a4?bioc_version=3.22
  response:
    body:
      string: '{"id":0,"source_type":"","source":"bioconductor 3.22","name":"a4","version":"1.57.0","source_id":238,"tran_create":0,"tran_delete":0,"repo_id":4,"repo_type":"Bioconductor","repository":"RSPM","checksum":"c4830481232ca0f0c3fb5f9bc8882396213284d1204d7fdfdcbc6fd64bac87da","tran_archive":null,"type":"Package","description":"Umbrella
        package is available for the entire Automated Affymetrix Array Analysis suite
        of package.","package_date":"2024-02-16T00:00:00Z","date_publication":null,"authors_r":"c(\n
        person(given = \"Willem\", family = \"Talloen\", role = \"aut\"),\n person(given
        = \"Tobias\", family = \"Verbeke\", role = \"aut\", email = \"tobias.verbeke@openanalytics.eu\"),\n
        person(given = \"Laure\", family = \"Cougnaud\", role = \"cre\", email = \"laure.cougnaud@openanalytics.eu\")\n)\n","author":"Willem
        Talloen [aut],\n Tobias Verbeke [aut],\n Laure Cougnaud [cre]\n","maintainer":"Laure
        Cougnaud \u003claure.cougnaud@openanalytics.eu\u003e","license":"GPL-3","url":"","bug_reports":"","occurred":null,"depends":"a4Base,
        a4Preproc, a4Classif, a4Core, a4Reporting","imports":null,"suggests":"MLP,
        nlcv, ALL, Cairo, Rgraphviz, GOstats, hgu95av2.db","linking_to":null,"enhances":null,"needs_compilation":"no","system_requirements":null,"installed":false,"title":"Automated
        Affymetrix Array Analysis Umbrella Package","package_size":1277640,"path":null,"r_dep":null,"os_type":null,"readme":null,"remote_sha":null,"collate":null,"bioc_views":"Microarray","bioc_repo":"bioc","bioc_version":"3.22","releases":null,"last_serial":0,"downloads":{"count":0},"links":[{"package_id":0,"type":1,"name":"a4Base","operator":null,"version":null,"linked_to":"2","reverse":false},{"package_id":0,"type":1,"name":"a4Classif","operator":null,"version":null,"linked_to":"3","reverse":false},{"package_id":0,"type":1,"name":"a4Core","operator":null,"version":null,"linked_to":"4","reverse":false},{"package_id":0,"type":1,"name":"a4Preproc","operator":null,"version":null,"linked_to":"5","reverse":false},{"package_id":0,"type":1,"name":"a4Reporting","operator":null,"version":null,"linked_to":"6","reverse":false},{"package_id":0,"type":2,"name":"ALL","operator":null,"version":null,"linked_to":"75","reverse":false},{"package_id":0,"type":2,"name":"Cairo","operator":null,"version":null,"linked_to":"","reverse":false},{"package_id":0,"type":2,"name":"GOstats","operator":null,"version":null,"linked_to":"1222","reverse":false},{"package_id":0,"type":2,"name":"MLP","operator":null,"version":null,"linked_to":"1951","reverse":false},{"package_id":0,"type":2,"name":"Rgraphviz","operator":null,"version":null,"linked_to":"2751","reverse":false},{"package_id":0,"type":2,"name":"hgu95av2.db","operator":null,"version":null,"linked_to":"1344","reverse":false},{"package_id":0,"type":2,"name":"nlcv","operator":null,"version":null,"linked_to":"","reverse":false}],"ash":"afc583da5b873aea54e70081c830955ae3b1434677383dec48d82234fd4cf78c","binary_record":{"id":0,"package_id":0,"checksum":"","r_version":"","distro":"","arch":"","ash":""},"blocked":false,"vulns":[]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Repository-Type:
      - RSPM
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/repos/4/packages/doesnotexist123456?bioc_version=3.22
  response:
    body:
      string: '{"code":4,"error":"Package ''doesnotexist123456'' not found","payload":null}'
    headers:
      Content-Type:
      - application/json
      X-Repository-Type:
      - RSPM
    status:
      code: 404
      message: Not Found
[...]
