interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/repos/2/packages/readxl
  response:
    body:
      string: "{\"id\":0,\"source_type\":\"\",\"source\":\"cran\",\"name\":\"readxl\",\"version\":\"1.4.5\",\"source_id\":1,\"tran_create\":0,\"tran_delete\":0,\"repo_id\":2,\"repo_type\":\"R\",\"repository\":\"RSPM\",\"checksum\":\"09d70d7bbafbe129ce687b8743dbf6b9d0f201205b30dc515a00b35fcc1bdedf\",\"tran_archive\":null,\"type\":\"\",\"description\":\"Import
        excel files into R. Supports '.xls' via the embedded\\n   'libxls' C library
        \\u003chttps://github.com/libxls/libxls\\u003e and '.xlsx' via\\n   the embedded
        'RapidXML' C++ library \\u003chttps://rapidxml.sourceforge.net/\\u003e.\\n
        \  Works on Windows, Mac and Linux without external dependencies.\\n\",\"package_date\":null,\"date_publication\":\"2025-03-07T17:10:02Z\",\"authors_r\":\"c(\\n
        \  person(\\\"Hadley\\\", \\\"Wickham\\\", , \\\"hadley@posit.co\\\", role
        = \\\"aut\\\",\\n          comment = c(ORCID = \\\"0000-0003-4757-117X\\\")),\\n
        \  person(\\\"Jennifer\\\", \\\"Bryan\\\", , \\\"jenny@posit.co\\\", role
        = c(\\\"aut\\\", \\\"cre\\\"),\\n          comment = c(ORCID = \\\"0000-0002-6983-2759\\\")),\\n
        \  person(\\\"Posit, PBC\\\", role = c(\\\"cph\\\", \\\"fnd\\\"),\\n          comment
        = \\\"Copyright holder of all R code and all C/C++ code without explicit copyright
        attribution\\\"),\\n   person(\\\"Marcin\\\", \\\"Kalicinski\\\", role = c(\\\"ctb\\\",
        \\\"cph\\\"),\\n          comment = \\\"Author of included RapidXML code\\\"),\\n
        \  person(\\\"Komarov Valery\\\", role = c(\\\"ctb\\\", \\\"cph\\\"),\\n          comment
        = \\\"Author of included libxls code\\\"),\\n   person(\\\"Christophe Leitienne\\\",
        role = c(\\\"ctb\\\", \\\"cph\\\"),\\n          comment = \\\"Author of included
        libxls code\\\"),\\n   person(\\\"Bob Colbert\\\", role = c(\\\"ctb\\\", \\\"cph\\\"),\\n
        \         comment = \\\"Author of included libxls code\\\"),\\n   person(\\\"David
        Hoerl\\\", role = c(\\\"ctb\\\", \\\"cph\\\"),\\n          comment = \\\"Author
        of included libxls code\\\"),\\n   person(\\\"Evan Miller\\\", role = c(\\\"ctb\\\",
        \\\"cph\\\"),\\n          comment = \\\"Author of included libxls code\\\")\\n
        )\\n\",\"author\":\"Hadley Wickham [aut] (\\u003chttps://orcid.org/0000-0003-4757-117X\\u003e),\\n
        Jennifer Bryan [aut, cre] (\\u003chttps://orcid.org/0000-0002-6983-2759\\u003e),\\n
        Posit, PBC [cph, fnd] (Copyright holder of all R code and all C/C++\\n   code
        without explicit copyright attribution),\\n Marcin Kalicinski [ctb, cph] (Author
        of included RapidXML code),\\n Komarov Valery [ctb, cph] (Author of included
        libxls code),\\n Christophe Leitienne [ctb, cph] (Author of included libxls
        code),\\n Bob Colbert [ctb, cph] (Author of included libxls code),\\n David
        Hoerl [ctb, cph] (Author of included libxls code),\\n Evan Miller [ctb, cph]
        (Author of included libxls code)\\n\",\"maintainer\":\"Jennifer Bryan \\u003cjenny@posit.co\\u003e\",\"license\":\"MIT
        + file LICENSE\",\"url\":\"https://readxl.tidyverse.org, https://github.com/tidyverse/readxl\",\"bug_reports\":\"https://github.com/tidyverse/readxl/issues\",\"occurred\":null,\"depends\":\"R
        (\\u003e= 3.6)\",\"imports\":\"cellranger, tibble (\\u003e= 2.0.1), utils\",\"suggests\":\"covr,
        knitr, rmarkdown, testthat (\\u003e= 3.1.6), withr\",\"linking_to\":\"cpp11
        (\\u003e= 0.4.0), progress\",\"enhances\":null,\"needs_compilation\":\"yes\",\"system_requirements\":null,\"installed\":false,\"title\":\"Read
        Excel Files\",\"package_size\":1643004,\"path\":null,\"r_dep\":null,\"os_type\":null,\"readme\":\"md\",\"remote_sha\":null,\"collate\":null,\"bioc_views\":null,\"readme_data\":\"\\n\\u003c!--
        README.md is generated from README.Rmd. Please edit that file --\\u003e\\n\\n#
        readxl \\u003ca href=\\\"https://readxl.tidyverse.org\\\"\\u003e\\u003cimg
        src=\\\"man/figures/logo.png\\\" align=\\\"right\\\" height=\\\"138\\\" /\\u003e\\u003c/a\\u003e\\n\\n\\u003c!--
        badges: start --\\u003e\\n\\n[![CRAN_Status_Badge](https://www.r-pkg.org/badges/version/readxl)](https://cran.r-project.org/package=readxl)\\n[![R-CMD-check](https://github.com/tidyverse/readxl/actions/workflows/R-CMD-check.yaml/badge.svg)](https://github.com/tidyverse/readxl/actions/workflows/R-CMD-check.yaml)\\n[![Codecov
        test\\ncoverage](https://codecov.io/gh/tidyverse/readxl/branch/main/graph/badge.svg)](https://app.codecov.io/gh/tidyverse/readxl?branch=main)\\n[![lifecycle](https://img.shi[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/repos/2/packages/doesnotexist123456
  response:
    body:
      string: '{"code":4,"error":"Package ''doesnotexist123456'' not found","payload":null}'
    headers:
      Content-Type:
      - application/json
      X-Repository-Type:
      - RSPM
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/repos/2/packages/abd
  response:
    body:
      string: '{"id":0,"source_type":"","source":"cran","name":"abd","version":"0.2-8","source_id":1,"tran_create":0,"tran_delete":0,"repo_id":2,"repo_type":"R","repository":"RSPM","checksum":"67a56cec1c1606451a395a2e228a24db54561c889908c3d51ea7ecf6f1d52fa4","tran_archive":null,"type":"Package","description":"The
        abd package contains data sets[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://packagemanager.posit.co/__api__/repos/2/packages/aqp
  response:
    body:
      string: '{"id":0,"source_type":"","source":"cran","name":"aqp","version":"2.2","source_id":1,"tran_create":0,"tran_delete":0,"repo_id":2,"repo_type":"R","repository":"RSPM","checksum":"0e74d4d6e10db05cdedb840aa4f46505a12a4397a76d1c54fea352a4b87657e0","tran_archive":null,"type":"","description":"The
        Algorithms for Quantitative Pedology (A[...]
