interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://snapshot.debian.org/mr/package/nginx/
  response:
    body:
      string: '{"_comment":"foo","package":"nginx","result":[{"version":"1.26.3-3"},{"version":"1.26.3-2"},{"version":"1.26.3-1"},{"version":"1.26.2-1"},{"version":"1.26.0-3"},{"version":"1.26.0-2"},{"version":"1.26.0-1"},{"version":"1.26.0-1~exp1"},{"version":"1.24.0-2"},{"version":"1.24.0-1"},{"version":"1.24.0-1~exp1"},{"version":"1.22.1-9+deb12u2"},{"version":"1.22.1-9+deb12u1"},{"version":"1.22.1-9"},{"version":"1.22.1-8"},{"version":"1.22.1-7"},{"version":"1.22.1-6"},{"version":"1.22.1-6~exp1"},{"version":"1.22.1-5"},{"version":"1.22.1-4"},{"version":"1.22.1-3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://snapshot.debian.org/mr/package/blender/
  response:
    body:
      string: '{"_comment":"foo","package":"blender","result":[{"version":"4.3.2+dfsg-2"},{"version":"4.3.2+dfsg-1"},{"version":"4.3.0+dfsg-1"},{"version":"4.2.3+dfsg-3"},{"version":"4.2.3+dfsg-2"},{"version":"4.2.3+dfsg-1"},{"version":"4.2.2+dfsg-1"},{"version":"4.2.1+dfsg-1"},{"version":"4.1.1+dfsg-3"},{"version":"4.1.1+dfsg-2"},{"version":"4.1.1+dfsg-1"},{"vers[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://storage.googleapis.com/debian-osv/first_package_output/9.json
  response:
    body:
      string: '{"0ad": "0.0.21-2", "0ad-data": "0.0.21-1", "0xffff": "0.7-2", "2048-qt":
        "0.1.6-1", "2ping": "3.2.1-1", "2vcard": "0.6-1", "3270font": "1.2.20-1",
        "389-admin": "1.1.43-1", "389-admin-console": "1.1.12-1", "389-adminutil":
        "1.1.23-1", "389-console": "1.1.18-2", "389-ds-base": "1.3.5.17-2", "389-ds-console":
        "1.2.16-1", "389-dsgw": "1.1.11-2", "3dchess": "0.8.1-19", "3depict": "0.0.19-1",
        "3dldf": "2.0.3+dfsg-5", "4digits": "1.1.4-1", "4g8": "1.0-3.1", "4store":
        "1.1.6+20151109-2", "4ti2": "1.6.7+ds-2", "6tunnel": "1:0.12-1", "7kaa": "2.14.6+dfsg-1",
        "9base": "1:6-7", "9menu": "1.9-1", "9mount": "1.3-10", "9wm": "1.4.0-1",
        "a2jmidid": "8~dfsg0-3", "a2ps": "1:4.14-2", "a52dec": "0.7.4-19", "a56":
        "1.3+dfsg-8", "a7xpg": "0.11.dfsg1-9", "aa3d": "1.0-8", "aac-tactics": "8.6.1-1",
        "aafigure": "0.5-5", "aalib": "1.4p5-44", "aaphoto": "0.45-1", "abacas": "1.3.1-3",
        "abcde": "2.8.1-1", "abcm2ps": "7.8.9-1", "abcmidi": "20170101-1", "abe":
        "1.1+dfsg-2", "abego-treelayout": "1.0.3-1", "abgate": "1.1.8-1", "abi-compliance-checker":
        "1.99.22-1", "abi-dumper": "0.99.16-2", "abi-monitor": "1.10-1", "abi-tracker":
        "1.9-1", "abicheck": "1.2-5", "abind": "1.4-5-1", "abinit": "8.0.8-1", "abiword":
        "3.0.2-2", "ableton-link": "1.0.0+dfsg-2", "abntex": "0.9~beta2-5.1", "abook":
        "0.6.1-1", "abootimg": "0.6-1", "abr2gbr": "1:1.0.2-2", "abs-guide": "10-2",
        "abstract-rendering": "0.5.1-1", "abx": "0.0~b1-1", "abyss": "2.0.2-2", "accelio":
        "1.7-2", "accerciser": "3.22.0-2", "access-modifier-checker": "1.7-1", "accessodf":
        "0.1.1~b-1", "accountsservice": "0.6.43-1", "acct": "6.6.2-1", "ace": "6.3.3+dfsg-1.2",
        "ace-link": "0.4.0-1", "ace-of-penguins": "1.5~rc2-1", "ace-window": "0.9.0-2",
        "acedb": "4.9.39+dfsg.02-1", "acepack": "1.4.1-1", "aces3": "3.0.8-5.1", "acetoneiso":
        "2.4-2", "acfax": "981011-17", "acheck": "0.5.4", "acheck-rules": "0.3.3",
        "achilles": "2-8.2", "ack": "2.14-5", "acl": "2.2.52-3", "acl2": "7.2dfsg-3",
        "aclock.app": "0.4.0-1", "acm": "5.0-29.1", "acme-tiny": "20160801-3", "acmetool":
        "0.0.58-5", "aconnectgui": "0.9.0rc2-1-10", "acorn": "4.0.4-2", "acorn-fdisk":
        "3.0.6-9", "acoustid-fingerprinter": "0.6-6", "acpi": "1.7-1", "acpi-call":
        "1.1.0-3", "acpi-support": "0.142-8", "acpica-unix": "20160831-1", "acpid":
        "1:2.0.28-1", "acpitail": "0.1-4", "acpitool": "0.5.1-4", "acr": "0.9.6-1",
        "acsccid": "1.1.4-1", "actdiag": "0.5.4+dfsg-1", "actiona": "3.9.2-1", "activemq":
        "5.14.3-3", "activemq-activeio": "3.1.4-1", "activemq-protobuf": "1.1-4",
        "activity-log-manager": "0.8.0-1.1", "actor-framework": "0.13.2-3", "ada-reference-manual":
        "1:2012.2-9", "adabrowse": "4.0.3-7", "adacgi": "1.6-19.1", "adacontrol":
        "1.17r3.1-4", "adanaxisgpl": "1.2.5.dfsg.1-6", "adapterremoval": "2.2.0-1",
        "adasockets": "1.9-1.1", "adblock-plus": "2.7.3+dfsg-1", "adblock-plus-element-hiding-helper":
        "1.3.8-1", "adcli": "0.8.2-1", "addresses-for-gnustep": "0.4.8-2", "adduser":
        "3.115", "adequate": "0.15.1", "adios": "1.11.0-1", "adjtimex": "1.29-9",
        "adlint": "3.2.14-2", "admesh": "0.98.2-3", "adminer": "4.2.5-3", "adns":
        "1.5.0~rc1-1", "adolc": "2.6.2-1", "adonthell": "0.3.6-1", "adonthell-data":
        "0.3.6-1", "adplay": "1.7-2", "adplug": "2.2.1+dfsg3-0.4", "adun.app": "0.81-9",
        "advancecomp": "1.20-1", "advi": "1.10.2-3", "adwaita-icon-theme": "3.22.0-1",
        "adwaita-qt": "0.5-2", "aegean": "0.15.2+dfsg-1", "aegisub": "3.2.2+dfsg-3",
        "aeolus": "0.9.0-2", "aephea": "12-248-2", "aes2501-wy": "0.1-5", "aesfix":
        "1.0.1-5", "aeskeyfind": "1:1.0-4", "aeskulap": "0.2.2b1+git20161206-1", "aespipe":
        "2.4d-1", "aether": "1.13.1-3", "aevol": "4.4-1", "aewan": "1.0.01-4", "aewm":
        "1.3.12-3", "aewm++": "1.1.2-5.1", "aewm++-goodies": "1.0-10", "afew": "0.0+git2016.02.29.b19a88f-2",
        "aff4": "0.24.post1-2", "affiche": "0.6.0-8", "afflib": "3.7.15-1", "afl":
        "2.36b-1", "afl-cov": "0.6-2", "afnix": "2.6.3-1", "aft": "2:5.098-3", "afterstep":
        "2.2.12-9", "afuse": "0.4.1-1", "agave": "0.4.7-2.1", "agda": "2.5.1.1-3",
        "agda-stdlib": "0.12-2", "agedu": "9723-1", "agenda.app": "0.42.2-1", "agg":
        "2.5+dfsg1-11", "aggregate": "1.6-7", "aggressive-indent-mode": "1.8.3-1",
        "aghermann": "1.1.2-1", "aglfn": "1.7-3", "agtl": "0.8.0.3-1.1", "aha": "0.4.10.3-1",
        "ahcpd": "0.53-2", "ahven": "2.6-1.1", "aiccu": "20070115-17", "aide": "0.16-1",
        "aiksaurus": "1.2.1+dev-0.12-6.3", "aiocoap": "0.1+9ae36f4-1", "aiodns": "1.1.1-1",
        "aiohttp-jinja2": "0.8.0-1", "aiohttp-mako": "0.0.1-1", "aiopg": "0.13.0-1",
        "aioredis": "0.3.0-1", "aioxmlrpc": "0.3-1", "aiozmq": "0.7.1-1", "air-quality-sensor":
        "0.1.4-1", "aircrack-ng": "1:1.2-0~rc4-2", "airlift-airline": "0.7-2", "airlift-slice":
        "0.10-2", "airport-utils": "2-6", "airspy-host": "1.0.9-1", "airstrike": "0.99+1.0pre6a-8",
        "aisleriot": "1:3.22.1-1", "aj-snapshot": "0.9.6-3", "ajaxterm": "0.10-13",
        "akonadi": "4:16.04.3-4", "akonadi-calendar": "16.04.2-2", "akonadi-search":
        "16.04.3-1", "akonadi4": "1.13.0-11", "akuma": "1.10-1", "alabaster": "0.7.8-1",
        "alacarte": "3.11.91-2", "alarm-clock-applet": "0.3.4-1", "albatross-gtk-theme":
        "1.7.4-1", "alberta": "3.0.1-1", "aldo": "0.7.7-1", "ale": "0.9.0.3-3", "alembic":
        "0.8.8-2", "alevt": "1:1.6.2-5.1", "alex": "3.1.7-4", "alex4": "1.1-7", "alfa":
        "1.0-2", "alfred": "2016.1-1", "alglib": "3.10.0-2", "algobox": "0.9+dfsg-1",
        "algol68g": "2.8-2", "algotutor": "0.8.6-1", "alice": "0.19-1", "alien": "8.95",
        "alien-hunter": "1.7-5", "alienblaster": "1.1.0-9", "aliki": "0.3.0-2", "all-in-one-sidebar":
        "0.7.28-2", "all-knowing-dns": "1.7-1", "allegro4.4": "2:4.4.2-10", "allegro5":
        "2:5.2.2-1", "alleyoop": "0.9.8-1", "alliance": "5.1.1-1.1", "alljoyn-core-1504":
        "15.04b-8", "alljoyn-core-1509": "15.09a-5", "alljoyn-core-1604": "16.04a-3",
        "alljoyn-gateway-1504": "15.04~git20160606-3", "alljoyn-services-1504": "15.04-6",
        "alljoyn-services-1509": "15.09-4", "alljoyn-services-1604": "16.04-3", "alljoyn-thin-client-1504":
        "15.04b-2", "alljoyn-thin-client-1509": "15.09a-2", "alljoyn-thin-client-1604":
        "16.04-2", "alltray": "0.71b-1", "almanah": "0.11.1-1", "almond": "0.3.1+dfsg-1",
        "alot": "0.3.6-1", "alpine": "2.20+dfsg1-7", "alqalam": "0.2-8", "alsa-lib":
        "1.1.3-5", "alsa-oss": "1.0.28-1", "alsa-plugins": "1.1.1-1", "alsa-tools":
        "1.1.3-1", "alsa-utils": "1.1.3-1", "alsaequal": "0.6-7", "alsamixergui":
        "0.9.0rc2-1-10", "alsaplayer": "0.99.81-2", "alsoft-conf": "1.4.3-1", "alt-ergo":
        "1.30-1", "alt-key": "2.2.5-2", "alter-sequence-alignment": "1.3.3+dfsg-1",
        "altermime": "0.3.10-8", "altos": "1.6.8-5", "altree": "1.3.1-4", "alure":
        "1.2-6", "amanda": "1:3.3.9-5", "amap-align": "2.2-6", "amarok": "2.8.0-8",
        "amavisd-milter": "1.5.0-5", "amavisd-new": "1:2.10.1-4", "amb-plugins": "0.8.1-7",
        "ambdec": "0.5.1-5", "amide": "1.0.5-7", "amideco": "0.31e-3.1", "amiga-fdisk":
        "0.04-15", "amispammer": "3.3-2", "amoebax": "0.2.1+dfsg-3", "amora-server":
        "1.2~svn+git2015.04.25-1", "amphetamine": "0.8.10-19", "amphetamine-data":
        "0.8.7-15", "ample": "0.5.7-8", "ampliconnoise": "1.29-6", "ampr-ripd": "1.15-1",
        "amqp-specs": "1-0r0-3", "ams": "2.1.1-1.1", "amsynth": "1.6.4-1", "amtterm":
        "1.4-2", "amule": "1:2.3.2-1", "amule-emc": "0.5.2-3", "an": "1.2-1", "anacron":
        "2.3-24", "analitza": "4:16.08.3-1", "analog": "2:6.0-22", "anarchism": "15.0-2",
        "and": "1.2.2-4.1", "andi": "0.10-2", "androguard": "2.0-3", "android-androresolvd":
        "1.3-1", "android-framework-23": "6.0.1+r72-3", "android-platform-build":
        "1:7.0.0+r33-1", "android-platform-dalvik": "7.0.0+r33-1", "android-platform-development":
        "7.0.0+r33-1", "android-platform-external-doclava": "6.0.1+r55-1", "android-platform-external-jsilver":
        "6.0.1+r55-1", "android-platform-external-libselinux": "7.0.0+r1-2", "android-platform-external-libunwind":
        "7.0.0+r1-4", "android-platform-frameworks-base": "1:7.0.0+r33-1", "android-platform-frameworks-data-binding":
        "2.2.2-2", "android-platform-frameworks-native": "1:7.0.0+r33-1", "android-platform-libcore":
        "7.0.0+r33-1", "android-platform-libnativehelper": "7.0.0+r33-1", "android-platform-system-core":
        "1:7.0.0+r33-1", "android-platform-system-extras": "7.0.0+r33-1", "android-platform-system-tools-aidl":
        "1:7.0.0+r33-1", "android-platform-tools-analytics-library": "2.2.2-2", "android-platform-tools-apksig":
        "0.5+git168~g10c9d71-1", "android-platform-tools-base": "2.2.2-1", "android-sdk-meta":
        "25.0.0+5", "androidsdk-tools": "22.2+git20130830~92d25d6-4", "anet": "0.3.3-1",
        "anfo": "0.98-5", "angband": "1:3.5.1-2.2", "angband-doc": "3.0.3.6", "angrydd":
        "1.0.1-11", "angular-maven-plugin": "0.3.4-1", "angular.js": "1.5.10-1", "animal-sniffer":
        "1.15-1", "animals": "201207131226-2", "animate.css": "3.5.2~dfsg1-1", "anjuta":
        "2:3.22.0-3", "anjuta-extras": "3.10.0-5", "ann": "1.1.2+doc-6", "anna": "1.58",
        "annotation-indexer": "1.9-1", "anomaly": "1.1.0-3", "anope": "2.0.4-1", "ansible":
        "2.2.1.0-2", "ansible-tower-cli": "3.0.2-1", "ansiweather": "1.07-1", "ant":
        "1.9.9-1", "ant-contrib": "1.0~b3+svn177-9", "antelope": "3.5.1-3", "antennavis":
        "0.3.1-4", "anthy": "9100h-25", "antigrav": "0.0.3-7", "antiword": "0.37-11",
        "antlr": "2.7.7+dfsg-7", "antlr-maven-plugin": "2.2-2", "antlr3": "3.5.2-6",
        "antlr3.2": "3.2-14", "antlr4": "4.5.3-1", "antpm": "1.18-2", "ants": "2.1.0-5",
        "anypaper": "2.4-2", "anyremote": "6.6.1-1", "anything-el": "1.287-2.1", "anytun":
        "0.3.6-1", "aodh": "3.0.0-4", "aoetools": "36-2", "aoeui": "1.6~dfsg-2", "aoflagger":
        "2.9.0-1", "aolserver4": "4.5.1-18.1", "aolserver4-nsldap": "0.8-4", "aolserver4-nsmysql":
        "0.6-11", "aolserver4-nsopenssl": "3.0beta26-6", "aolserver4-nspostgres":
        "4.5+20110709-2", "aolserver4-nssha1": "0.1-3", "aolserver4-nssqlite3": "0.9-2",
        "aolserver4-nsxml": "1.5-2.1", "ap-utils": "1.5-3", "apache-curator": "2.7.1-2",
        "apache-directory-api": "1.0.0~M20-5", "apache-directory-jdbm": "2.0.0~M2-1",
        "apache-directory-server": "2.0.0~M15-4", "apache-log4j-extras1.2": "1.2.17-1",
        "apache-log4j1.2": "1.2.17-7", "apache-log4j2": "2.7-2", "apache-mime4j":
        "0.7.2-4", "apache-mod-auth-ntlm-winbind": "0.0.0.lorikeet+svn+801-4", "apache-pom":
        "10-2", "apache-upload-progress-module": "0.2-2", "apache2": "2.4.25-3", "apache2-mod-xforward":
        "0.6-1", "apachedex": "1.6.2-1", "apachetop": "0.12.6-18", "apbs": "1.4-1",
        "apcalc": "2.12.5.0-1", "apcupsd": "3.14.14-0.3", "apel": "10.8+0.20120427-16",
        "apertium": "3.4.0~r61013-5", "apertium-af-nl": "0.2.0~r58256-1", "apertium-apy":
        "0.9.1~r343-2", "apertium-arg": "0.1.2~r65494-1", "apertium-arg-cat": "0.1.0~r64925-1",
        "apertium-br-fr": "0.5.0~r61325-2", "apertium-ca-it": "0.1.1~r57554-1", "apertium-cat":
        "1.0.0~r65787-1", "apertium-cy-en": "0.1.1~r57554-3", "apertium-dan": "0.5.0~r67099-1",
        "apertium-dan-nor": "1.3.0~r67099-1", "apertium-en-ca": "0.9.3~r61328-1",
        "apertium-en-es": "0.8.0~r57502-2", "apertium-en-gl": "0.5.2~r57551-1", "apertium-eo-ca":
        "1:0.9.1~r60655-1", "apertium-eo-en": "1.0.0~r63833-1", "apertium-eo-es":
        "1:0.9.1~r60655-1", "apertium-eo-fr": "0.9.0~r57551-1", "apertium-es-ast":
        "1.1.0~r51165-1", "apertium-es-ca": "1.2.1+svn~57448-4", "apertium-es-gl":
        "1.0.8~r57542-2", "apertium-es-it": "0.1.0~r51165-1", "apertium-es-pt": "1.1.5+svn~57507-3",
        "apertium-es-ro": "0.7.3~r57551-2", "apertium-eu-en": "0.3.1~r56205-1", "apertium-eu-es":
        "0.3.3~r56159-2", "apertium-fr-es": "0.9.2~r61322-2", "apertium-fra": "1.0.0~r65786-1",
        "apertium-fra-cat": "1.1.0~r64309-1", "apertium-hbs": "0.5.0~r68212-2", "apertium-hbs-eng":
        "0.1.0~r57598-1", "apertium-hbs-mkd": "0.1.0~r57554-1", "apertium-hbs-slv":
        "0.1.0~r59294-1", "apertium-hin": "0.1.0~r59158-1", "apertium-id-ms": "0.1.1~r57551-1",
        "apertium-is-sv": "0.1.0~r56030-1", "apertium-isl": "0.1.0~r65494-1", "apertium-isl-eng":
        "0.1.0~r66083-1", "apertium-ita": "0.9.0~r72553-1", "apertium-kaz": "0.1.0~r61338-1",
        "apertium-kaz-tat": "0.2.1~r57554-1", "apertium-lex-tools": "0.1.1~r66150-1",
        "apertium-mk-bg": "0.2.0~r49489-1", "apertium-mk-en": "0.1.1~r57554-1", "apertium-mlt-ara":
        "0.2.0~r62623-1", "apertium-nno": "0.9.0~r69513-1", "apertium-nno-nob": "1.1.0~r66076-1",
        "apertium-nob": "0.9.0~r69513-1", "apertium-oc-ca": "1.0.6~r57551-2", "apertium-oc-es":
        "1.0.6~r57551-2", "apertium-pt-ca": "0.8.2+svn~57507-3", "apertium-pt-gl":
        "0.9.2~r57551-2", "apertium-sme-nob": "0.6.0~r61921-1", "apertium-spa": "0.1.0~r65494-1",
        "apertium-spa-arg": "0.4.0~r64399-1", "apertium-srd": "0.9.0~r72792-1", "apertium-srd-ita":
        "0.9.0~r72554-1", "apertium-swe": "0.7.0~r69513-1", "apertium-swe-dan": "0.7.0~r66063-1",
        "apertium-tat": "0.1.0~r60887-1", "apertium-urd": "0.1.0~r61311-1", "apertium-urd-hin":
        "0.1.0~r64379-1", "apex": "1.6.10", "apf-firewall": "9.7+rev1-5", "apg": "2.2.3.dfsg.1-4",
        "apgdiff": "2.4-3", "api-hour": "0.8.1-1", "api-sanity-checker": "1.98.7-2",
        "apipkg": "1.4-1", "apitrace": "7.1+git20160531.2d78bef0+repack-1.1", "apktool":
        "2.2.1+dfsg-2", "aplpy": "1.1.1-1", "aplus-fsf": "4.22.1-9", "apmd": "3.2.2-15",
        "apng2gif": "1.7-1", "apngasm": "2.7-2", "apngdis": "2.5-2", "apngopt": "1.2-2",
        "apoo": "2.2-4", "apophenia": "1.0+ds-7", "apparix": "07-261-1", "apparmor":
        "2.11.0-3", "apparmor-profiles-extra": "1.11", "appconfig": "1.66-2", "appdirs":
        "1.4.0-3", "apper": "0.9.2+git20161222-3", "appindicator3-sharp": "12.10.0+git20151221-3",
        "appmenu-qt": "0.2.6-2", "approx": "5.7-3", "appstream": "0.10.6-2", "appstream-glib":
        "0.6.8-1", "apr": "1.5.2-5", "apr-util": "1.5.4-3", "apron": "0.9.10-9", "aprsdigi":
        "3.10.0-2", "aprx": "2.9.0+dfsg-1", "apscheduler": "3.3.1-1", "apsfilter":
        "7.2.6-1.3", "apt": "1.4.6", "apt-build": "0.12.47", "apt-cacher": "1.7.13+deb9u1",
        "apt-cacher-ng": "2-2", "apt-clone": "0.4.1", "apt-dater": "1.0.3-4", "apt-dater-host":
        "1.0.0-4", "apt-dpkg-ref": "5.3.1+nmu2", "apt-file": "3.1.4", "apt-forktracer":
        "0.5", "apt-listbugs": "0.1.22", "apt-listchanges": "3.10", "apt-listdifferences":
        "1.20161219", "apt-mirror": "0.5.4-1", "apt-move": "4.2.27-5", "apt-offline":
        "1.7.2", "apt-rdepends": "1.3.0-6", "apt-setup": "1:0.127", "apt-show-source":
        "0.10+nmu5", "apt-show-versions": "0.22.7", "apt-spacewalk": "1.0.6-4.1",
        "apt-src": "0.25.2", "apt-transport-s3": "1.2.1-1", "apt-transport-tor": "0.3",
        "apt-venv": "1.0.0-2", "apt-xapian-index": "0.49", "aptfs": "2:0.10-1", "apticron":
        "1.1.61", "aptitude": "0.8.7-1", "aptitude-robot": "1.5.1-1", "aptly": "0.9.7-1",
        "aptsh": "0.0.8", "apvlv": "0.1.5+dfsg-1", "apwal": "0.4.5-1.1", "aqemu":
        "0.9.2-2", "aqsis": "1.8.2-5", "ara": "1.0.32", "arachne-pnr": "0.1+20160813git52e69ed-1",
        "aragorn": "1.2.38-1", "arandr": "0.1.9-2", "aranym": "1.0.2-2", "arbiterjs":
        "1.0-3", "arbtt": "0.9.0.9-1", "arc": "5.21q-4", "arc-theme": "20161119-1",
        "arcanist-clang-format-linter": "0.git20161021-2", "arcboot-installer": "1.29",
        "arch-test": "0.7-1", "archipel-agent-action-scheduler": "0.6.0-1", "archipel-agent-hypervisor-geolocalization":
        "0.6.0-1", "archipel-agent-hypervisor-health": "0.6.0-1", "archipel-agent-hypervisor-network":
        "0.6.0-1", "archipel-agent-hypervisor-platformrequest": "0.6.0-1", "archipel-agent-iphone-notification":
        "0.6.0-1", "archipel-agent-virtualmachine-oomkiller": "0.6.0-1", "archipel-agent-virtualmachine-snapshoting":
        "0.6.0-1", "archipel-agent-virtualmachine-vnc": "0.6.0-1", "archipel-agent-vmcasting":
        "0.6.0-1", "archipel-agent-vmparking": "0.6.0-1", "archipel-agent-xmppserver":
        "0.6.0-1", "archipel-core": "0.6.0-1", "archivemail": "0.9.0-1.1", "archivemount":
        "0.8.7-1", "archmage": "1:0.3.1-3", "archmbox": "4.10.0-2", "arden": "1.0-3",
        "ardentryst": "1.71-5", "ardour": "1:5.5.0~dfsg-1", "arduino": "2:1.0.5+dfsg2-4.1",
        "arduino-mighty-1284p": "1-2", "arduino-mk": "1.5.2-1", "arename": "4.0-3",
        "argon2": "0~20160821-1", "argonaut": "1.0-1", "argparse4j": "0.4.4-1", "args4j":
        "2.33-1", "argtable2": "13-1", "argus": "2:3.0.8.2-1", "argus-clients": "1:3.0.8.2-3",
        "argvalidate": "0.9.0-2", "argyll": "1.9.2+repack-1", "aria2": "1.30.0-2",
        "ariba": "2.6.1+ds-1", "aribas": "1.64-6", "ario": "1.5.1-1.3", "arj": "3.10.22-15",
        "ark": "4:16.08.3-2", "armada-backlight": "1.1-9", "armadillo": "1:7.600.2+dfsg-2",
        "armagetronad": "0.2.8.3.4-1", "armci-mpi": "0.0~git20160222-2", "arno-iptables-firewall":
        "2.0.1.f-1", "aroarfw": "0.1~beta5-3", "arp-scan": "1.9-1", "arpack": "3.4.0-1",
        "arpack++": "2.3-6", "arpalert": "2.0.12-1", "arping": "2.14-1", "arpon":
        "2.7.2-1", "arptables": "0.0.3.4-1", "arpwatch": "2.1a15-2", "array-info":
        "0.16-3", "arrayfire": "3.3.2+dfsg1-4", "arriero": "0.6-1", "art-nextgen-simulation-tools":
        "20160605+dfsg-2", "artemis": "16.0.17+dfsg-1", "artfastqgenerator": "0.0.20150519-2",
        "artha": "1.0.3-1", "artikulate": "4:16.08.3-1", "as31": "2.3.1-6", "asc":
        "2.6.1.0-1", "asc-music": "1.3-3", "ascd": "0.13.2-6", "ascdc": "0.3-15",
        "ascii": "3.15-1", "ascii2binary": "2.14-1", "asciiart": "0.0.9-1", "asciidoc":
        "8.6.9-5", "asciidoctor": "1.5.4-2", "asciijump": "1.0.2~beta-7.1", "asciimathtml":
        "2.0.2-2", "asciinema": "1.3.0-2", "asciio": "1.02.71-1.1", "asclock": "2.0.12-28",
        "asedriveiiie": "3.7-5", "aseprite": "1.1.6+ds-1", "aseqjoy": "0.0.2-1", "asic0x":
        "1.0.1-1", "asio": "1:1.10.8-1", "asis": "2015-1", "ask": "1.1.1-1", "asl":
        "0.1.7-2", "asm": "5.2-2", "asm3": "3.3.2-3", "asmail": "2.1-4", "asmix":
        "1.5-4.1", "asmixer": "0.5-14", "asmon": "0.71-5.1", "asn1c": "0.9.27+dfsg-5",
        "asp": "1.8-8", "aspcud": "1:1.9.1-2", "aspectc++": "1:2.1-2", "aspectj":
        "1.8.9-2", "aspectj-maven-plugin": "1.7-1", "aspell": "0.60.7~20110707-3",
        "aspell-am": "0.03-1-5", "aspell-ar": "0.0.20060329-5", "aspell-ar-large":
        "1.2-0-3", "aspell-bn": "1:0.01.1-1-3", "aspell-br": "0.50-2-6.1", "aspell-cs":
        "0.51.0-1", "aspell-cy": "0.50-3-6.2", "aspell-el": "0.50-3-6.2", "aspell-en":
        "2016.11.20-0-0.1", "aspell-fa": "0.11-0-3", "aspell-fr": "0.50-3-8", "aspell-ga":
        "0.50-4-4.2", "aspell-gu": "0.03-0-9", "aspell-he": "1.0-0-7", "aspell-hi":
        "0.02-7", "aspell-hr": "0.51-4", "aspell-hsb": "0.02.0-1", "aspell-hu": "0.99.4.2-0-4",
        "aspell-hy": "0.10.0-0-3", "aspell-is": "0.51-0-utf8-0.2", "aspell-it": "2.4-20070901-0-2.1",
        "aspell-kk": "0.2-1", "aspell-kn": "0.01-3-1", "aspell-ku": "0.20-0-6", "aspell-ml":
        "0.04-1-7", "aspell-mr": "0.10-9", "aspell-or": "0.03-1-5", "aspell-pa": "0.01-1-5",
        "aspell-pl": "20150428-3", "aspell-pt": "1.6", "aspell-ro": "3.3.9-1", "aspell-sk":
        "2.02-0-1", "aspell-sl": "0.60-4", "aspell-sv": "0.51-0-3", "aspell-ta": "20040424-1-1",
        "aspell-te": "0.01-2-5", "aspell-tl": "0.4-0-17", "aspell-uz": "0.6.0-2",
        "aspic": "1.05-4", "asql": "1.6-1", "assertj-core": "2.3.0-3", "assimp": "3.3.1~dfsg-4",
        "assword": "0.10-2", "asterisk": "1:13.14.1~dfsg-2", "asterisk-core-sounds":
        "1.4.27-1", "asterisk-espeak": "3.0-3", "asterisk-flite": "2.3-1", "asterisk-moh-opsound":
        "2.03-1", "asterisk-opus": "13.7+20161113-3", "asterisk-prompt-de": "2.0-1.1",
        "asterisk-prompt-es-co": "0.20070403-2", "asterisk-prompt-fr-armelle": "20070613-2",
        "asterisk-prompt-fr-proformatique": "20070706-1.4-2", "asterisk-prompt-it":
        "1:1.4.22+mm20110907-3", "asterisk-testsuite": "0.0.0+svn.5781-2", "astk":
        "1.13.1-2", "astlib": "0.8.0-4", "astroid": "1.4.9-1", "astromatic": "1.1",
        "astrometry.net": "0.70+dfsg-1", "astroml": "0.3-6", "astroml-addons": "0.2.2-3",
        "astronomical-almanac": "5.6-4", "astroplan": "0.2-5", "astroquery": "0.3.4+dfsg-3",
        "astroscrappy": "1.0.5-1", "astyle": "2.06-2", "asunder": "2.8-5", "asused":
        "3.72-12", "asylum": "0.3.2-2", "asymptote": "2.38-2", "async-http-client":
        "1.6.5-4", "asyncpg": "0.8.4-1", "at": "3.1.20-3", "at-spi2-atk": "2.22.0-2",
        "at-spi2-core": "2.22.0-6", "atanks": "6.5~dfsg-2", "atdgen": "1.9.1-2", "aterm":
        "1.0.1dummy1", "atftp": "0.7.git20120829-3", "atheist": "0.20110402-2.1",
        "atheme-services": "7.2.9-1", "athena-jot": "9.0-6", "atig": "0.6.1-2", "atinject-jsr330":
        "1.0+ds1-2", "atitvout": "0.4-13", "atk1.0": "2.22.0-1", "atkmm1.6": "2.24.2-2",
        "atlas": "3.10.3-1", "atlas-cpp": "0.6.3-3", "atlc": "4.6.1-1", "atom4": "4.1-8",
        "atomicparsley": "0.9.6-1", "atomix": "3.22.0-1", "atool": "0.39.0-5", "atop":
        "2.2.6-4", "atril": "1.16.1-2", "ats-lang-anairiats": "0.2.11-1", "ats2-lang":
        "0.2.9-1", "attal-themes": "1.0~rc2.dfsg1-1", "attica": "0.4.2-2", "attica-kf5":
        "5.28.0-1", "attr": "1:2.4.47-2", "aubio": "0.4.3-4", "auctex": "11.90-1",
        "audacious": "3.7.2-1", "audacious-plugins": "3.7.2-2.1", "audacity": "2.1.2-2",
        "audex": "0.79-1", "audiocd-kio": "4:16.08.3-1", "audiofile": "0.3.6-4", "audiolink":
        "0.05-3", "audioread": "2.1.4-1", "audiotools": "3.1.1-1", "audit": "1:2.6.7-2",
        "audtty": "0.1.12-5", "aufs": "4.9+20161219-1", "aufs-tools": "1:4.1+20161219-1",
        "augeas": "1.8.0-1", "augustus": "3.2.3+dfsg-1", "aumix": "2.9.1-4", "auralquiz":
        "0.8.1-1", "authbind": "2.1.2", "authres": "0.900-1", "auto-07p": "0.9.1+dfsg-3",
        "auto-apt-proxy": "2", "auto-complete-el": "1.3.1-2", "auto-install-el": "1.58-1",
        "auto-multiple-choice": "1.3.0-2", "autoclass": "3.3.6.dfsg.1-1", "autocomplete":
        "2.5.0-1", "autoconf": "2.69-10", "autoconf-archive": "20160916-1", "autoconf-dickey":
        "2.52+20150926-2", "autoconf2.13": "2.13-67", "autoconf2.59": "2.59+dfsg-1",
        "autoconf2.64": "2.64+dfsg-1", "autocutsel": "0.10.0-2", "autodep8": "0.8",
        "autodia": "2.14-1", "autodir": "0.99.9-10", "autodns-dhcp": "0.9", "autodock-vina":
        "1.1.2-3", "autodocksuite": "4.2.6-3", "autofdo": "0.15-1", "autofill-forms":
        "1.1.3-1", "autofs": "5.1.2-1", "autogen": "1:5.18.12-3", "autojump": "22.5.0-2",
        "autokey": "0.90.4-1", "autolog": "0.40-13.1", "automake-1.15": "1:1.15-6",
        "automake1.11": "1:1.11.6-4", "automatic-save-folder": "1.0.5~20140831-4",
        "automaton": "1.11-8+dfsg1-1", "automoc": "1.0~version-0.9.88-5", "automx":
        "0.10.0-2.1", "automysqlbackup": "2.6+debian.4-1", "autopep8": "0.9.1-2.1",
        "autopkgtest": "4.4", "autopostgresqlbackup": "1.0-7", "autoproject": "0.20-10",
        "autopsy": "2.24-2", "autoradio": "2.8.6-1", "autorenamer": "0.4-1", "autorevision":
        "1.20-1", "autosize.js": "3.0.15~dfsg1-1", "autossh": "1.4e-3", "autotalent":
        "0.2-5", "autotools-dev": "20161112.1", "autotrash": "0.1.5-1.1", "autounit":
        "0.20.1-5", "avahi": "0.6.32-2", "avahi-sharp": "0.6.19-4.3", "avalon-framework":
        "4.2.0-9", "avarice": "2.13+svn347-4", "avce00": "2.0.0-5", "averell": "1.2.5-1",
        "avfs": "1.0.3-1", "aview": "1.3.0rc1-9", "avifile": "1:0.7.48~20090503.ds-19",
        "avis": "1.2.2-4", "avis-client-c": "1.2.4-9", "avogadro": "1.2.0-1", "avr-evtd":
        "1.7.7-2", "avr-libc": "1:1.8.0+Atmel3.5.0-1", "avra": "1.3.0-3", "avrdude":
        "6.3-2", "avro-java": "1.7.7-2", "avrp": "1.0beta3-7", "avw.lv2": "0.1.6~dfsg0-1",
        "avy": "0.4.0-2", "awardeco": "0.2-3.1", "away": "0.9.5+ds-0+nmu2", "aweather":
        "0.8.1-1.1", "awesfx": "0.5.1e-1", "awesome": "4.0-1", "awesome-extra": "2016121101+nmu1",
        "awffull": "3.10.2-4", "awit-dbackup": "0.0.22-1", "awl": "0.57-1", "aws-shell":
        "0.1.1-2", "awscli": "1.11.13-1", "awstats": "7.6+dfsg-1", "ax25-apps": "0.0.8-rc4-2",
        "ax25-tools": "0.0.10-rc4-1", "ax25mail-utils": "0.13-1", "axe-demultiplexer":
        "0.3.2+dfsg1-1", "axel": "2.12-1", "axiom": "20140801-12", "axis": "1.4-25",
        "axmail": "2.6-1", "axmlrpc": "1.9.0-2", "aylet": "0.5-3", "babeld": "1.7.0-1",
        "babelfish": "0.5.4-1", "babeltrace": "1.5.1-1", "babiloo": "2.0.11-2", "babl":
        "0.1.18-1", "backbone": "1.3.3~dfsg-1", "backintime": "1.1.12-2", "backports.functools-lru-cache":
        "1.3-1", "backports.ssl-match-hostname": "3.5.0.1-1", "backup-manager": "0.7.12-4",
        "backup2l": "1.6-1", "backup2swift": "0.8-1", "backupchecker": "1.7-1", "backupninja":
        "1.0.1-2", "backuppc": "3.3.1-4", "bacula": "7.4.4+dfsg-6", "bacula-doc":
        "7.4.4-1", "bagel": "0.0~git20170109-1", "balance": "3.57-1", "balder2d":
        "1.0-2", "ball": "1.4.3~beta1-3", "ballerburg": "1.2.0-1", "ballz": "1.0.3-1",
        "baloo": "4:4.14.3-3", "baloo-kf5": "5.28.0-2", "baloo-widgets5": "16.04.0-1",
        "balsa": "2.4.12-3", "bam": "0.4.0-5", "bambam": "0.6+dfsg-1", "bambamc":
        "0.0.50-1", "bamf": "0.5.3-2", "bamtools": "2.4.1+dfsg-1", "bandit": "1.1.0-3",
        "bandwidthd": "2.0.1+cvs20090917-10", "bangarang": "2.1-2", "banshee": "2.6.2-6.1",
        "banshee-community-extensions": "2.4.0-4", "baobab": "3.22.1-1", "bar": "1.11.1-2",
        "barada-pam": "0.5-3.1", "barbican": "1:3.0.0-3", "barcode": "0.98+debian-9.1",
        "barectf": "2.2.1-1", "bareftp": "0.3.9-3", "bareos": "16.2.4-3", "baresip":
        "0.5.0-4", "barman": "2.1-1", "barman-cli": "1.2-1", "barnowl": "1.9-4", "barrage":
        "1.0.4-2", "barrnap": "0.7+dfsg-2", "bart": "0.4.00-1", "base-files": "9.9",
        "base-installer": "1.169", "base-passwd": "3.5.43", "basemap": "1.0.7+dfsg-4",
        "basex": "8.5.1-1", "basez": "1.6-3", "bash": "4.4-5", "bash-completion":
        "1:2.1-4.3", "bashburn": "3.0.1-2", "basic256": "1.1.4.0-2", "basket": "2.10~beta+git20160425.b77687f-1",
        "bastet": "0.43-4", "batctl": "2016.5-1", "batik": "1.8-4", "batmand": "0.3.2-17",
        "batmon.app": "0.8-1", "bats": "0.4.0-1.1", "battery-stats": "0.5.6-1", "bauble":
        "0.9.7-2.1", "baycomepp": "0.10-13", "baycomusb": "0.10-13", "bb": "1.3rc1-10",
        "bbdb": "2.36-4", "bbdb3": "3.1.2-7", "bbe": "0.2.2-3", "bbmail": "0.8.3-7",
        "bbpager": "0.4.7-5", "bbqsql": "1.1-2", "bbrun": "1.6-6.1", "bbswitch": "0.8-4",
        "bbtime": "0.1.5-13", "bc": "1.06.95-9", "bcache-tools": "1.0.8-2", "bcal":
        "1.4-1", "bcel": "6.0-1", "bcfg2": "1.4.0~pre2+git141-g6d40dace6358-1", "bcftools":
        "1.3.1-1", "bchunk": "1.2.0-12", "bcpp": "0.0.20131209-1", "bcrypt": "1.1-8.1",
        "bd": "1.02-1", "bdbvu": "0.1-1", "bdfresize": "1.5-10", "bdii": "5.2.23-1",
        "beacon": "1.3.2-1", "beagle": "4.1~160727-86a+dfsg-1", "beaker": "1.8.1-1",
        "beancounter": "0.8.10", "beansbinding": "1.2.1-1", "beanstalkc": "0.4.0-1",
        "beanstalkd": "1.10-4", "bear": "2.2.1-1", "beast-mcmc": "1.8.4+dfsg.1-1",
        "beast2-mcmc": "2.4.4+dfsg-1", "beautifulsoup": "3.2.1-1", "beautifulsoup4":
        "4.5.3-1", "beav": "1:1.40-18", "bedtools": "2.26.0+dfsg-3", "beef": "1.0.2-1",
        "beep": "1.3-4", "beets": "1.3.19-2.1", "beignet": "1.3.0-4", "belier": "1.2-3",
        "belle-sip": "1.4.1-1.1", "ben": "0.7.4", "beneath-a-steel-sky": "0.0372-6",
        "berkeley-abc": "1.01+20161002hgeb6eca6+dfsg-1", "berkeley-express": "1.5.1-3",
        "berkshelf-api": "2.2.0-1", "bernhard": "0.2.4-1", "berusky": "1.7-1", "berusky-data":
        "1.7-1", "berusky2": "0.10-5", "berusky2-data": "0.9-1", "betamax": "0.8.0-1",
        "betaradio": "1.6-1", "between": "6+dfsg1-3", "bf-utf": "0.07", "bfbtester":
        "2.0.1-7.1", "bfm": "0.6.4-6", "bglibs": "1.106-3", "bgoffice": "4.1-3", "bgoffice-computer-terms":
[...]
