interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://snapshot.debian.org/mr/package/nginx/
  response:
    body:
      string: '{"_comment":"foo","package":"nginx","result":[{"version":"1.26.3-3"},{"version":"1.26.3-2"},{"version":"1.26.3-1"},{"version":"1.26.2-1"},{"version":"1.26.0-3"},{"version":"1.26.0-2"},{"version":"1.26.0-1"},{"version":"1.26.0-1~exp1"},{"version":"1.24.0-2"},{"version":"1.24.0-1"},{"version":"1.24.0-1~exp1"},{"version":"1.22.1-9+deb12u2"},{"version":"1.22.1-9+deb12u1"},{"version":"1.22.1-9"},{"version":"1.22.1-8"},{"version":"1.22.1-7"},{"version":"1.22.1-6"},{"version":"1.22.1-6~exp1"},{"version":"1.22.1-5"},{"version":"1.22.1-4"},{"version":"1.22.1-3[...]
