interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://hex.pm/api/packages/ash
  response:
    body:
      string: '{"meta":{"links":{"Changelog":"https://github.com/ash-project/ash/blob/main/CHANGELOG.md","Discord":"https://discord.gg/HTHRaaVPUc","Forum":"https://elixirforum.com/c/elixir-framework-forums/ash-framework-forum","GitHub":"https://github.com/ash-project/ash","REUSE
        Compliance":"https://api.reuse.software/info/github.com/ash-project/ash","Website":"https://ash-hq.org"},"description":"A
        declarative, extensible framework for building Elixir applications.","licenses":["MIT"],"maintainers":[]},"name":"ash","url":"https://hex.pm/api/packages/ash","owners":[{"url":"https://hex.pm/api/users/ash-project","email":"ash-project@zachdaniel.dev","username":"ash-project"}],"inserted_at":"2019-12-04T15:25:31.904973Z","updated_at":"2025-10-19T16:41:06.799461Z","repository":"hexpm","releases":[{"version":"3.7.6","url":"https://hex.pm/api/packages/ash/releases/3.7.6","has_docs":true,"inserted_at":"2025-10-19T16:41:03.185390Z"},{"version":"3.7.5","url":"https://hex.pm/api/packages/ash/releases/3.7.5","has_docs":true,"inserted_at":"2025-10-19T15:59:00.587299Z"},{"version":"3.7.4","url":"https://hex.pm/api/packages/ash/releases/3.7.4","has_docs":true,"inserted_at":"2025-10-19T15:01:10.503949Z"},{"version":"3.7.3","url":"https://hex.pm/api/packages/ash/releases/3.7.3","has_docs":true,"inserted_at":"2025-10-19T04:51:09.214526Z"},{"version":"3.7.2","url":"https://hex.pm/api/[...]
[...]
