interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deps.dev/v3alpha/systems/maven/packages/io.grpc%3Agrpc-core
  response:
    body:
      string: '{"packageKey":{"system":"MAVEN","name":"io.grpc:grpc-core"},"purl":"pkg:maven/io.grpc/grpc-core","versions":[{"versionKey":{"system":"MAVEN","name":"io.grpc:grpc-core","version":"0.12.0"},"purl":"pkg:maven/io.grpc/grpc-core@0.12.0","publishedAt":"2016-01-23T00:11:27Z","isDefault":false,"isDeprecated":false},{"versionKey":{"system":"MAVEN","name":"io.grpc:grpc-core","version":"0.13.0"},"purl":"pkg:maven/io.grpc/grpc-core@0.13.0","publishedAt":"2016-02-17T18:04:22Z","isDefault":false,"isDeprecated":false},{"versionKey":{"system":"MAVEN","name":"io.grpc:grpc-core","version":"0.13.1"},"purl":"pkg:maven/io.grpc/grpc-core@0.13.1","publishedAt":"2016-02-23T00:47:58Z","isDefault":false,"isDeprecated":false},{"versionKey":{"system":"MAVEN","name":"io.grpc:grpc-core","version":"0.13.2"},"purl":"pkg:ma[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deps.dev/v3alpha/systems/maven/packages/blah%3Adoesnotexist123456
  response:
    body:
      string: package not found
    headers:
      content-type:
      - text/plain; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
