interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.deps.dev/v3alpha/systems/maven/packages/com.google.guava%3Aguava
  response:
    body:
      string: '{"packageKey":{"system":"MAVEN","name":"com.google.guava:guava"},"purl":"pkg:maven/com.google.guava/guava","versions":[{"versionKey":{"system":"MAVEN","name":"com.google.guava:guava","version":"10.0"},"purl":"pkg:maven/com.google.guava/guava@10.0","publishedAt":"2011-09-28T16:04:35Z","isDefault":false,"isDeprecated":false},{"versionKey":{"system":"MAVEN","name":"com.google.guava:guava","version":"10.0-rc1"},"purl":"pkg:maven/com.google.guava/guava@10.0-rc1","publishedAt":"2011-09-09T13:13:29Z","isDefault":false,"isDeprecated":false},{"versionKey":{"system":"MAVEN","name":"com.google.guava:guava","version":"10.0-rc2"},"purl":"pkg:maven/com.google.guava/guava@10.0-rc2","publishedAt":"2011-09-19T17:32:16Z","isDefault":false,"isDeprecated":false},{"versionKey":{"system":"MAVEN","name":"com.google.guava:guava","[...]
