interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json
  response:
    body:
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"c8e86327-e789-4d1c-ac8c-24062f6f7b33","commitTimeStamp":"2022-07-11T22:50:38.0009355+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json#page/3.0.0-beta/3.4.2","@type":"catalog:CatalogPage","commitId":"c8e86327-e789-4d1c-ac8c-24062f6f7b33","commitTimeStamp":"2022-07-11T22:50:38.0009355+00:00","count":13,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/3.0.0-beta.json","@type":"Package","commitId":"5ddf750a-c5e0-44af-b728-a8ffc0ef2571","commitTimeStamp":"2020-02-08T03:35:20.5485908+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json","@type":"PackageDetails","authors":".NET
        Foundation","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup/microsoft.web.xdt","@type":"PackageDependency","id":"Microsoft.Web.Xdt","range":"[2.1.1,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/microsoft.web.xdt/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup/newtonsoft.json","@type":"PackageDependency","id":"Newtonsoft.Json","range":"[9.0.1,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/newtonsoft.json/index.json"},{"@id":"https://api.nuget.org/v3/catalog0/data/2018.10.12.19.11.50/nuget.server.core.3.0.0-beta.json#dependencygroup/nuget.core","@type":"PackageDependency","id":"NuGet.Core","range":"[2.14.0,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/nuget.core/index.json"}]}],"description":"Core
        library for creating a Web Application used to host a simple NuGet feed","iconUrl":"","id":"NuGet.Server.Core","language":"","licenseExpression":"","licenseUrl":"https://raw.githubusercontent.com/NuGet/NuGet.Server/dev/LICENSE.txt","listed":true,"minClientVersion":"2.6","packageContent":"https://api.nuget.org/v3-flatcontainer/nuget.server.core/3.0.0-beta/nuget.server.core.3.0.0-beta.nupkg","projectUrl":"https://github.com/NuGet/NuGet.Server","published":"2017-10-05T18:40:32.43+00:00","requireLicenseAcceptance":false,"summary":"","tags":[""],"title":"","version":"3.0.0-beta"},"packageContent":"https://api.nuget.org/v3-flatcontainer/nuget.server.core/3.0.0-beta/nuget.server.core.3.0.0-beta.nupkg","registration":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/index.json"},{"@id":"https://api.nuget.org/v3/registration5-semver1/nuget.server.core/3.0.0.json","@type":"Package","commitId":"5ddf750a-c5e0-44af-b728-a8ffc0ef2571","commitTimeStamp":"2020-02-08T03:35:20.5485908+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nuget.org/v3/registration5-semver1/castle.core/index.json
  response:
    body:
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/castle.core/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"b4037ecf-5ad0-44d8-b40b-f49804c9e0a4","commitTimeStamp":"2025-03-09T21:23:45.9981625+00:00","count":1,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/castle.core/index.json#page/0.0.1110/5.2.1","@type":"catalog:CatalogPage","commitId":"b4037ecf-5ad0-44d8-b40b-f49804c9e0a4","commitTimeStamp":"2025-03-09T21:23:45.9981625+00:00","count":34,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/castle.core/0.0.1110.json","@type":"Package","commitId":"b4037ecf-5ad0-44d8-b40b-f49804c9e0a4","commitTimeStamp":"2025-03-09T21:23:45.9981625+00:00","catalogEntry":{"@id":"https://api.nuget.org/v3/catalog0/data/2025.03.09.21.23.09/castle.core.0.0.1110.json","@type":"PackageDetails","authors":"Castle
        Project Contributors","dependencyGroups":[{"@id":"https://api.nuget.org/v3/catalog0/data/2025.03.09.21.23.09/castle.core.0.0.1110.json#dependencygroup/.netframework4.6.2","@type":"PackageDependencyGroup","targetFramework":".NETFramework4.6.2"},{"@id":"https://api.nuget.org/v3/catalog0/data/2025.03.09.21.23.09/castle.core.0.0.1110.json#dependencygroup/net6.0","@type":"PackageDependencyGroup","dependencies":[{"@id":"https://api.nuget.org/v3/catalog0/data/2025.03.09.21.23.09/castle.core.0.0.1110.json#dependencygroup/net6.0/system.diagnostics.eventlog","@type":"PackageDependency","id":"System.Diagnostics.EventLog","range":"[6.0.0,
        )","registration":"https://api.nuget.org/v3/registration5-semver1/system.diagno[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nuget.org/v3/registration5-semver1/serilog/index.json
  response:
    body:
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/index.json","@type":["catalog:CatalogRoot","PackageRegistration","catalog:Permalink"],"commitId":"939ca70a-96b8-417e-999f-85b3d35ff8c2","commitTimeStamp":"2025-05-20T06:02:07.2139276+00:00","count":10,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/page/0.1.6/1.2.47.json","@type":"catalog:CatalogPage","commitId":"93a34749-84fe-4c6f-b431-7e9495ceb102","commitTimeStamp":"2020-02-08T11:22:17.578087+00:00","count":64,"lower":"0.1.6","upper":"1.2.47"},{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/page/1.2.48/1.4.34.json","@type":"catalog:CatalogPage","commitId":"93a34749-84fe-4c6f-b431-7e9495ceb102","commitTimeStamp":"2020-02-08T11:22:17.578087+00:00","count":64,"lower":"1.2.48","upper":"1.4.34"},{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/page/1.4.39/2.0.0-beta-541.json","@type":"catalog:CatalogPage","commitId":"93a34749-84fe-4c6f-b431-7e9495ceb102","commitTimeStamp":"2020-02-08T11:22:17.578087+0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nuget.org/v3/registration5-semver1/serilog/page/0.1.6/1.2.47.json
  response:
    body:
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/page/0.1.6/1.2.47.json","@type":"catalog:CatalogPage","commitId":"93a34749-84fe-4c6f-b431-7e9495ceb102","commitTimeStamp":"2020-02-08T11:22:17.578087+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/0.1.6.json","@type[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nuget.org/v3/registration5-semver1/serilog/page/1.4.39/2.0.0-beta-541.json
  response:
    body:
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/page/1.4.39/2.0.0-beta-541.json","@type":"catalog:CatalogPage","commitId":"93a34749-84fe-4c6f-b431-7e9495ceb102","commitTimeStamp":"2020-02-08T11:22:17.578087+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.nuget.org/v3/registration5-semver1/serilog/page/2.0.0-rc-556/2.5.0-dev-00814.json
  response:
    body:
      string: '{"@id":"https://api.nuget.org/v3/registration5-semver1/serilog/page/2.0.0-rc-556/2.5.0-dev-00814.json","@type":"catalog:CatalogPage","commitId":"2374943e-e91b-48dc-8729-85c42dd84eba","commitTimeStamp":"2020-02-08T11:22:26.3801305+00:00","count":64,"items":[{"@id":"https://api.nuget.org/v3/registration5-s[...]
