interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://repo.packagist.org/p2/neos/neos.json
  response:
    body:
      string: '{"minified":"composer/2.0","packages":{"neos/neos":[{"name":"neos/neos","description":"An
        open source Content Application Platform based on Flow. A set of core Content
        Management features is resting within a larger context that allows you to
        build a perfectly customized experience for your users.","keywords":[],"homepage":"","version":"9.0.3","version_normalized":"9.0.3.0","license":["GPL-3.0-or-later"],"authors":[],"source":{"url":"https://github.com/neos/neos.git","type":"git","reference":"2cdd6bb517b919bbdf36d5125f0c52a55dae8d92"},"dist":{"url":"https://api.github.com/repos/neos/neos/zipball/2cdd6bb517b919bbdf36d5125f0c52a55dae8d92","type":"zip","shasum":"","reference":"2cdd6bb517b919bbdf36d5125f0c52a55dae8d92"},"type":"neos-package","support":{"docs":"https://docs.neos.io/","forum":"https://discuss.neos.io/","source":"https://github.com/neos/neos.git"},"funding":[{"url":"https://shop.neos.io/neosfunding/","type":"custom"}],"time":"2025-05-14T20:43:42+00:00","autoload":{"psr-4":{"Neos\\Neos\\":"Classes"}},"extra":{"neos":{"installer-resource-folders":["Resources/Private/Installer/"]},"neos/flow":{"manage-resources":true},"applied-flow-migrations":["TYPO3.TYPO3CR-20150510103823","TYPO3.FLOW3-201201261636","TYPO3.Fluid-201205031303","TYPO3.FLOW3-201205292145","TYPO3.FLOW3-201206271128","TYPO3.Flow-201211151101","TYPO3.Neos.NodeTypes-130516220640","TYPO3.TypoScript-130516234520","TYPO3.TypoScript-130516235550","TYPO3.TYPO3CR-130523180140","TYPO3.Neos.NodeTypes-201309111655","TYPO3.Neos-201310021548","TYPO3.Flow-201310031523","TYPO3.Flow-201405111147","TYPO3.Neos-201409071922","TYPO3.TYPO3CR-140911160326","TYPO3.Neos-201410010000","TYPO3.TYP[...]
