interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pub.dev/api/packages/pub_semver
  response:
    body:
      string: '{"name":"pub_semver","latest":{"version":"2.2.0","pubspec":{"name":"pub_semver","version":"2.2.0","description":"Versions
        and version constraints implementing pub''s versioning policy. This is very
        similar to vanilla semver, with a few corner cases.","repository":"https://github.com/dart-lang/tools/tree/main/pkgs/pub_semver","issue_tracker":"https://github.com/dart-lang/tools/labels/package%3Apub_semver","topics":["dart-pub","semver"],"environment":{"sdk":"^3.4.0"},"dependencies":{"collection":"^1.15.0"},"dev_dependencies":{"dart_flutter_team_lints":"^3.0.0","test":"^1.16.0"}},"archive_url":"https://pub.dev/api/archives/pub_semver-2.2.0.tar.gz","archive_sha256":"5bfcf68ca79ef689f8990d1160781b4bad40a3bd5e5218ad4076ddb7f4081585","published":"2025-03-07T08:24:31.752263Z"},"versions":[{"version":"1.0.0","pubspec":{"description":"Versions
        and version constraints implementing pub''s versioning policy. This is very
        similar to vanilla semver, with a few corner cases.\n","author":"Dart Team
        <misc@dartlang.org>","environment":{"sdk":">=1.0.0 <2.0.0"},"version":"1.0.0","dependencies":{"collection":">=0.9.0
        <2.0.0"},"dev_dependencies":{"unittest":">=0.9.0 <0.12.0"},"homepage":"http://github.com/dart-lang/pub_semver","name":"pub_semver"},"archive_url":"https://pub.dev/api/archives/pub_semver-1.0.0.tar.gz","archive_sha256":"f2256119db8eb1636e91bfe45c4d7016b532d979becb5d99844923f95a489de8","published":"2014-09-26T19:58:22.483450Z"},{"version":"1.1.0","pubspec":{"description":"Versions
        and version constraints implementing pub''s versioning policy. This is very
        similar to vanilla semver, with a few corner cases.\n","author":"Dart Team
        <misc@dartlan[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pub.dev/api/packages/mockito
  response:
    body:
      string: '{"name":"mockito","latest":{"version":"5.4.6","pubspec":{"name":"mockito","version":"5.4.6","description":"A
        mock framework inspired by Mockito with APIs for Fakes, Mocks, behavior verification,
        and stubbing.","repository":"https://github.com/dart-lang/mockito","topics":["testing","mocking"],"environment":{"sdk":"^3.7.0"},"dependencies":{"analyzer":">=7.4.1
        <8.0.0","build":"^2.4.1","code_builder":"^4.5.0","collection":"^1.19.0","dart_style":">=2.3.7
        <4.0.0","matcher":"^0.12.16","meta":"^1.15.0","path":"^1.9.0","source_gen":">=1.4.0
        <3.0.0","test_api":">=0.6.1 <0.8.0"},"dev_dependencies":{"build_runner":"^2.4.11","build_test":"^2.1.7","build_web_compilers":"^4.0.11","http":"^1.0.0","lints":"^5.1.0","package_config":"^2.1.1","test":"^1.24.4"}},"archive_url":"https://pub.dev/api/archives/mockito-5.4.6.tar.gz","archive_sha256":"4546eac99e8967ea91bae633d2ca7698181d008e95fa4627330cf903d573277a","published":"2025-04-21T21:19:29.331733Z"},"versions":[{"version":"0.8.0","pubspec":{"description":"A
        mock framework inspired by Mockito.\n","author":"Dmitriy Fibulwinter <fibulwinter@gmail.com>","environment":{"sdk":">=1.0.0
        <2.0.0"},"version":"0.8.0","dependencies":{"matcher":">=0.10.0 <1.0.0"},"dev_dep[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://pub.dev/api/packages/go_router
  response:
    body:
      string: '{"name":"go_router","latest":{"version":"15.1.2","pubspec":{"name":"go_router","description":"A
        declarative router for Flutter based on Navigation 2 supporting deep linking,
        data-driven routes and more","version":"15.1.2","repository":"https://github.com/flutter/packages/tree/main/packages/go_router","issue_tracker":"https://github.com/flutter/flutter/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+go_router%22","environment":{"sdk":"^3.4.0","flutter":">=3.22.0"},"dependencies":{"collection":"^1.15.0","flutter":{"sdk":"flutter"},"flutter_web_plugins":{"sdk":"flutter"},"logging":"^1.0.0","meta":"^1.7.0"},"dev_dependencies":{"flutter_test":{"sdk":"flutter"},"io":"^1.0.4","leak_tracker_flutter_testing":"any","path":"^1.8.2"},"topics":["deep-linking","go-router","navigation"]},"archive_url":"https://pub.dev/api/archives/go_router-15.1.2.tar.gz","archive_sha256":"0b1e06223bee260dee31a171fb1153e306907563a0b0225e8c1733211911429a","published":"2025-05-08T22:25:22.879881Z"},"versions":[{"version":"0.0.1","pubspec":{"name":"go_router","description":"A
        new Flutter package project.","version":"0.0.1","repository":"https://github.com/csells/go_router","environment":{"sdk":">=2.12.0
        <3.0.0","flutter":">=1.17.0"},"dependencies":{"flutter":{"sdk":"flutter"}},"dev_dependencies":{"flutter_test":{"sdk":"flutter"}},"flutter":null},"archive_url":"https://pub.dev/api/archives/go_router-0.0.1.tar.gz","archive_sha256":"68ffe73e87bb27bab5fd82a417c44cdbe91635bcabdb94bc31d902a14ec2bff8","published":"2021-05-23T06:00:36.491955Z"},{"version":"0.2.0","pubspec":{"name":"go_router","description":"A
        declarative router for Flutter based on Navigation 2","version":"0.2.0","repository":"https://github.com/csells/go_router","environment":{"sdk":">=2.12.0
        <3.0.0","flutter":">=1.17.0"},"dependencies":{"collection":"^1.15.0","cupertino_icons":"^1.0.2","flutter":{"sdk":"flutter"},"flutter_web_plugins":{"sdk":"flutter"},"path_to_regexp":"^0.4.0"},"dev_dependencies":{"flutter_test":{"sdk":"flutter"}}},"archive_url":"https://pub.dev/api/archives/go_router-0.2.0.tar.gz","archive_sha256":"9e509c9ceab6cc96d19f1a7be92e3bc1a41335399b0b205d9158bdcbd6380810","published":"2021-06-07T06:35:32.668275Z"},{"version":"0.2.1","pubspec":{"name":"go_router","description":"A
        declarative router for Flutter based on Navigation 2","version":"0.2.1","repository":"https://github.com/csells/go_router","environment":{"sdk":">=2.12.0
        <3.0[...]
[...]
