interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://rubygems.org/api/v1/versions/rails.json
  response:
    body:
      string: '[{"authors":"David Heinemeier Hansson","built_at":"2025-03-12T00:00:00.000Z","created_at":"2025-03-12T03:09:11.097Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":1844037,"metadata":{"changelog_uri":"https://github.com/rails/rails/releases/tag/v8.0.2","bug_tracker_uri":"https://github.com/rails/rails/issues","source_code_uri":"https://github.com/rails/rails/tree/v8.0.2","mailing_list_uri":"https://discuss.rubyonrails.org/c/rubyonrails-talk","documentation_uri":"https://api.rubyonrails.org/v8.0.2/","rubygems_mfa_required":"true"},"number":"8.0.2","summary":"Full-stack
        web application framework.","platform":"ruby","rubygems_version":"\u003e=
        1.8.11","ruby_version":"\u003e= 3.2.0","prerelease":false,"licenses":["MIT"],"requirements":[],"sha":"fdfaa5a83ec0388e02864e88d515959caedc88053b5f701c4deb1652d8f164c6","spec_sha":"2da4a6b10a044943a0124063abdfe505408e904b7e02e95b2f206255d8903b79"},{"authors":"David
        Heinemeier Hansson","built_at":"2024-12-13T00:00:00.000Z","created_at":"2024-12-13T20:03:17.853Z","description":"Ruby
        on Rails is a full-stack web framework optimized for programmer happiness
        and sustainable productivity. It encourages beautiful code by favoring convention
        over configuration.","downloads_count":2743415,"metadata":{"changelog_uri":"https://github.com/rails/rails/r[...]
[...]
