[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
google-cloud-pubsub = "*"
google-cloud-ndb = "*"
PyYAML = "*"
google-cloud-storage = "*"
redis = "*"
osv = {editable = true, path = "./../.."}
pygit2 = "==1.14.1"
requests = ">=2.32.2"

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"
