[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-pubsub = "==2.21.5"
google-cloud-ndb = "==2.3.1"
google-cloud-storage = "==2.17.0"
PyYAML = "==6.0.1"
redis = "==5.0.7"
pygit2 = "==1.15.0"
requests = "==2.32.2"
jsonschema = "==4.22.0"

osv = {editable = true, path = "./../.."}

[dev-packages]
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"
