[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.3.3"
Flask-Caching = "==2.1.0"
Flask-Compress = "==1.15"
werkzeug = "==3.0.3"
google-cloud-ndb = "==2.3.1"
google-cloud-logging = "==3.10.0"
jinja2 = "==3.1.4"
markdown2 = "==2.4.13"
markupsafe = "==2.1.5"
redis = "==4.6.0"
requests = "==2.32.2"
gunicorn = "==22.0.0"
whitenoise = "==6.7.0"
cvss = "==3.1"

osv = {editable = true, path = "../../"}

[dev-packages]
pipenv = "==2022.12.19"
yapf = "*"
pylint = "*"

[requires]
python_version = "3.11"
