[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.3.2"
Flask-Caching = "==2.0.2"
werkzeug = "==2.3.3"
google-cloud-ndb = "==2.1.1"
google-auth = "==2.17.3"
google-cloud-logging = "==3.5.0"
google-cloud-pubsub = "==2.16.0"
jinja2 = "==3.1.2"
markdown2 = "==2.4.8"
markupsafe = "==2.1.2"
osv = {editable = true, path = "../../"}
packaging = "==21.3"
redis = "==4.5.4"
requests = "==2.31.0"
grpcio-status = "==1.54.0"

[dev-packages]
pipenv = "==2022.12.19"
