[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "==2.3.3"
Flask-Caching = "==2.1.0"
Flask-Compress = "1.13"
werkzeug = "==3.0.1"
google-cloud-ndb = "==2.2.2"
google-auth = "==2.23.3"
google-cloud-logging = "==3.8.0"
google-cloud-pubsub = "==2.18.4"
jinja2 = "==3.1.2"
markdown2 = "==2.4.10"
markupsafe = "==2.1.3"
osv = {editable = true, path = "../../"}
packaging = "==21.3"
redis = "==4.6.0"
requests = "==2.31.0"
grpcio-status = "==1.59.0"
gunicorn = "==21.2.0"
whitenoise = "6.5.0"

[dev-packages]
pipenv = "==2022.12.19"

[requires]
python_version = "3.11"
