---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: |
      {
        "queries": [
          {
            "package": {
              "name": "org.apache.logging.log4j:log4j-web",
              "ecosystem": "Maven"
            },
            "version": "2.14.1"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_Transitive/does_not_scan_transitive_dependencies_for_pom.xml_with_no-resolve
    url: https://api.osv.dev/v1/querybatch
    method: POST
[...]
