---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: |
      {
        "queries": [
          {
            "package": {
              "name": "balanced-match",
              "ecosystem": "npm"
            },
            "version": "1.0.2"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_LockfileWithExplicitParseAs/absolute_paths_are_automatically_escaped_on_windows
    url: https://api.osv.dev/v1/querybatch
    method: POST
[...]
