---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"AC-Angle\",\"ecosystem\":\"Hackage\"},\"version\":\"1.0\"},{\"package\":{\"name\":\"ALUT\",\"ecosystem\":\"Hackage\"},\"version\":\"2.4.0.3\"},{\"package\":{\"name\":\"ANum\",\"ecosystem\":\"Hackage\"},\"version\":\"0.2.0.2\"},{\"package\":{\"name\":\"Agda\",\"ecosystem\":\"Hackage\"},\"version\":\"2.6.4.3\"},{\"package\":{\"name\":\"Allure\",\"ecosystem\":\"Hackage\"},\"version\":\"0.11.0.0\"},{\"package\":{\"name\":\"biscuit-haskell\",\"ecosystem\":\"Hackage\"},\"version\":\"0.3.0.0\"}]}"
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_MoreLockfiles/cabal.project.freeze
    url: https://api.osv.dev/v1/querybatch
    method: POST
[...]
