---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: "{\"queries\":[{\"package\":{\"name\":\"com.amazonaws:aws-java-sdk-core\",\"ecosystem\":\"Maven\"},\"version\":\"1.11.327\"},{\"package\":{\"name\":\"com.amazonaws:aws-java-sdk-kms\",\"ecosystem\":\"Maven\"},\"version\":\"1.11.327\"},{\"package\":{\"name\":\"com.amazonaws:aws-java-sdk-s3\",\"ecosystem\":\"Maven\"},\"version\":\"1.11.327\"},{\"package\":{\"name\":\"com.amazonaws:jmespath-java\",\"ecosystem\":\"Maven\"},\"version\":\"1.11.327\"},{\"package\":{\"name\":\"com.example:hello-tester\",\"ecosystem\":\"Maven\"},\"version\":\"1.0-SNAPSHOT\"},{\"package\":{\"name\":\"com.fast[...]
[...]
