---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: |
      {
        "queries": [
          {
            "package": {
              "name": "github.com/gogo/protobuf",
              "ecosystem": "Go"
            },
            "version": "1.3.1"
          },
          {
            "package": {
              "name": "github.com/ipfs/go-bitfield",
              "ecosystem": "Go"
            },
            "version": "1.0.0"
          },
          {
            "package": {
              "name": "golang.org/x/image",
              "ecosystem": "Go"
            },
            "version": "0.4.0"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_CallAnalysis/Run_with_govulncheck
    url: https://api.osv.dev/v1/querybatch
    method: POST
[...]
