---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: |
      {
        "queries": [
          {
            "package": {
              "name": "sentry/sdk",
              "ecosystem": "Packagist"
            },
            "version": "2.0.4"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand_WithDetector_OffLinux/ssh_version_errors
    url: https://api.osv.dev/v1/querybatch
    method: POST
[...]
