---
version: 2
interactions:
- id: 0
  request:
    host: api.osv.dev
    body: |
      {
        "queries": [
          {
            "package": {
              "name": "ast",
              "ecosystem": "RubyGems"
            },
            "version": "2.4.2"
          },
          {
            "package": {
              "name": "balanced-match",
              "ecosystem": "npm"
            },
            "version": "1.0.2"
          }
        ]
      }
    headers:
      Content-Type:
      - application/json
      X-Test-Name:
      - TestCommand/.gitignored_files
    url: https://api.osv.dev/v1/querybatch
    method: POST
[...]
- id: 14
  request:
    host: api.osv.dev
    body: |
      {
        "queries": [
          {
            "commit": "4579d5538f06c5ef615a15bc67ebb9ac0523a973",
            "package": {}
          },
          {
            "commit": "9de7a0544457c6aba755ccb65abb41b0dc1db70d",
            "package": {}
          },
          {
            "commit": "5d60bd2eb4642b64d00c845e5ca9f1ea41fd6db6",
            "package": {}
          },
          {
            "package": {
              "name": "alpine-baselayout",
              "ecosystem": "Alpine"
            },
            "version": "3.4.0-r0"
          },
    [...]
[...]
