[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-ndb = "==2.2.2"
google-cloud-logging = "==3.7.0"
google-cloud-pubsub = "==2.18.4"
grpcio = "==1.59.0"
osv = {editable = true, path = "../../"}
packageurl-python = "==0.11.2"
packaging = "==20.9"
requests = "==2.31.0"
grpcio-reflection = "*"
grpcio-health-checking = "*"

[dev-packages]
grpcio-tools = "*"

[requires]
python_version = "3.11"
