[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-logging = "==2.7.2"
google-cloud-pubsub = "==2.13.11"
grpcio = "==1.51.1"
osv = {editable = true, path = "../../"}
packageurl-python = "==0.10.4"
packaging = "==20.9"
requests = "==2.28.1"
grpcio-reflection = "*"

[dev-packages]
grpcio-tools = "*"
