[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-ndb = "==2.1.1"
google-cloud-logging = "==3.5.0"
google-cloud-pubsub = "==2.17.1"
grpcio = "==1.54.2"
osv = {editable = true, path = "../../"}
packageurl-python = "==0.11.1"
packaging = "==20.9"
requests = "==2.31.0"
grpcio-reflection = "*"

[dev-packages]
grpcio-tools = "*"

[requires]
python_version = "3.11"
