name: Check links on push

on: push
permissions:  # added using https://github.com/step-security/secure-repo
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
    - uses: gaurav-nelson/github-action-markdown-link-check@7d83e59a57f3c201c76eed3d33dff64ec4452d27
      with:
        use-quiet-mode: "yes"
        check-modified-files-only: "yes"
# Documentation available here: https://github.com/marketplace/actions/markdown-link-check
