name: Renovate Config Validator

permissions: {}

on:
  push:
    branches: [ master ]
    paths:
      - 'renovate.json'
  pull_request:
    branches: [ master ]
    paths:
      - 'renovate.json'

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Nodes.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '^24'

      - name: Validate Renovate Config
        run: npx --yes --package renovate -- renovate-config-validator
