---
version: 2
interactions:
    - id: 0
      request:
        host: packagemanager.posit.co
        url: https://packagemanager.posit.co/__api__/repos/2/packages/stringr
        method: GET
      response:
        body: '{"id":0,"source_type":"","source":"cran","name":"stringr","version":"1.6.0","source_id":1,"tran_create":0,"tran_delete":0,"repo_id":2,"repo_type":"R","repository":"RSPM","checksum":"24f2fc5df980a7eb888659e22b9744d2316c558624015c7a7cd8c3ce3e370064","tran_archive":null,"type":"","description":"A consistent, simple and easy to use set of wrappers around\n   the fantastic ''stringi'' package. All function and argument names (and\n   positions) are consistent, all functions deal with \"NA\"''s and zero\n   length vectors in the same way, and the output from one function is\n   easy to feed into the input of another.\n","package_date":null,"date_publication":"2025-11-04T14:00:02Z","authors_r":"c(\n   person(\"Hadley\", \"Wickham\", , \"hadley@posit.co\", role = c(\"aut\", \"cre\", \"cph\")),\n   person(\"Posit Software, PBC\", role = c(\"cph\", \"fnd\"))\n )\n","author":"Hadley Wickham [aut, cre, cph],\n Posit Software, PBC [cph, fnd]\n","maintainer":"Hadley Wickham \u003chadley@posit.co\u003e","license":"MIT + file LICENSE","url":"https://stringr.tidyverse.org,\n       https://github.com/tidyverse/stringr\n","bug_reports":"https://github.com/tidyverse/stringr/issues","occurred":null,"depends":"R (\u003e= 4.1.0)","imports":"cli, glue (\u003e= 1.6.1), lifecycle (\u003e= 1.0.3), magrittr, rlang (\u003e= 1.0.0), stringi (\u003e= 1.5.3), vctrs (\u003e= 0.4.0)","suggests":"covr, dplyr, gt, htmltools, htmlwidgets, knitr, rmarkdown, testthat (\u003e= 3.0.0), tibble","linking_to":null,"enhances":null,"needs_compilation":"no","system_requirements":null,"installed":false,"title":"Simple, Consistent Wrappers for Common String Operations","package_size":195406,"path":null,"r_dep":null,"os_type":null,"readme":"md","remote_sha":null,"collate":null,"bioc_views":null,"readme_data":"\n\u003c!-- README.md is generated from README.Rmd. Please edit that file --\u003e\n\n# stringr \u003ca href=''https://stringr.tidyverse.org''\u003e\u003cimg src=''man/figures/logo.png'' align=\"right\" height=\"139\" /\u003e\u003c/a\u003e\n\n\u003c!-- badges: start --\u003e\n\n[![CRAN\nstatus](https://www.r-pkg.org/badges/version/stringr)](https://cran.r-project.org/package=stringr)\n[![R-CMD-check](https://github.com/tidyverse/stringr/actions/workflows/R-CMD-check.yaml/badge.svg)](https://git[...]
